// import Roboto font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//default variable

$primary-font: 'Roboto', sans-serif;
$primary-color: #ff6600;
$primary-color-half: #f27e2080;
$white-color: #ffffff;
$white-df-color: #dfdfdf;
$secondary-color: #3a3868;
$black-color: #000000;
$black-28-color: #282828;
$black-59-color: #595959;
$bg-f9-color: #f9f9f9;
$grey-70-color: #707070;

// default elements

@media only screen and (max-width: 575px) {
	.container {
		width: 92%;
	}
}

.default-btn {
	background-color: $primary-color;
	padding: 8px 20px;
	border-radius: 25px;
	outline: none !important;
	font-weight: 500;
	font-size: 15px;
	color: $white-color;
	border: 1px solid $primary-color;
	font-weight: 600;
	&:active {
		transition: 0.3s;
	}
}
.secondary-btn {
	background-color: $secondary-color;
	padding: 8px 20px;
	border-radius: 25px;
	outline: none !important;
	font-weight: 500;
	font-size: 15px;
	color: $white-color;
	border: 1px solid $secondary-color;
	font-weight: 600;
	&:active {
		transition: 0.3s;
	}
}

.form-control {
	outline: none !important;
	box-shadow: none !important;
}

.default-btn:hover {
	box-shadow: 0 0 16px $white-df-color;
}

.default-shadow {
	box-shadow: 0 20px 10px var(--color-df);
}

.sm-display-block {
	display: none !important;
}

@media only screen and (max-width: 991.5px) {
	.sm-display-block {
		display: block !important;
	}
}

@media only screen and (max-width: 1200px) {
	.lg-display-hide {
		display: none;
	}
}

@media only screen and (max-width: 991.5px) {
	.md-display-hide {
		display: none;
	}
}

@media only screen and (max-width: 767.5px) {
	.sm-display-hide {
		display: none;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $primary-font;
}

.main-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
	color: $secondary-color;
}

.sub-title {
	font-size: 36px;
	font-weight: lighter;
	color: $grey-70-color;
	font-style: italic;
	line-height: 36px;
}

.semi-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 40px;
	color: $black-59-color;
}

.semi-sub-title {
	font-size: 24px;
	font-weight: lighter;
	color: $black-59-color;
	font-style: italic;
	line-height: 24px;
}

@media only screen and (max-width: 1200px) {
	.main-title {
		font-size: 40px;
		line-height: 40px;
	}
	.sub-title {
		font-size: 40px;
		line-height: 40px;
	}
	.semi-title {
		font-size: 30px;
		line-height: 35px;
	}
	.semi-sub-title {
		font-size: 30px;
		line-height: 35px;
	}
}

@media only screen and (max-width: 991.5px) {
	.main-title {
		font-size: 30px;
		line-height: 30px;
	}
	.sub-title {
		font-size: 30px;
		line-height: 30px;
	}
	.semi-title {
		font-size: 25px;
		line-height: 30px;
	}
	.semi-sub-title {
		font-size: 25px;
		line-height: 30px;
	}
}

// navbar

.is-navbar {
	background-color: $white-color;
	padding: 10px 0;
	box-shadow: none;
	transition: 0.3s;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 999;
	border-bottom: 1px solid #dfdfdf;
	.logo {
		img {
			max-height: 50px;
		}
	}
	.call-us {
		font-size: 16px;
		font-weight: 600;
		color: #535353;
		margin-right: 30px;
		text-decoration: none;
		span {
			margin-left: 5px;
		}
	}

	.default-btn {
		background-color: $white-color;
		color: $primary-color;
		font-weight: 600;
	}

	.navigation-links {
		a {
			margin-right: 30px;
			text-decoration: none;
		}
		.navigation-link {
			font-size: 16px;
			font-weight: 600;
			color: #535353;
		}
	}
	.hamburger-menu {
		border: none;
		background: none;
		outline: none !important;
		span {
			border: 1px solid $secondary-color;
			background-color: $secondary-color;
			width: 30px;
			height: 0px;
			font-size: 15px;
			margin: 0;
			display: block;
		}
		span:nth-child(2) {
			width: 20px;
			margin-left: 8px;
			margin-top: 8px;
			margin-bottom: 8px;
		}
	}
}

.breadcrumb-is {
	display: block;
	width: max-content;
	margin: 5px auto;
	color: $black-59-color;
	a {
		color: $black-59-color;
		text-decoration: none;
	}
}

/* owl nav */

.owl-prev,
.owl-next {
	border: none !important;
	outline: none !important;
	background: none !important;
}

.owl-next {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
}

.owl-prev {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}

@media only screen and (min-width: 575px) {
	.owl-next {
		position: absolute;
		top: 50%;
		right: -5%;
		transform: translateY(-50%);
	}

	.owl-prev {
		position: absolute;
		top: 50%;
		left: -5%;
		transform: translateY(-50%);
	}
}

.content-image {
	position: absolute;
	img {
		width: 100%;
	}
	@media only screen and (max-width: 1200px) {
		display: none;
	}
}

.input-area {
	margin-bottom: 20px;
	label {
		display: block;
		text-align: left;
		font-size: 15px;
		font-weight: 600;
		color: $black-59-color;
		margin-bottom: 15px;
	}
	input {
		display: block;
		width: 100%;
		height: 50px;
		background: none;
		border-radius: 8px;
		outline: none;
		border: 1px solid $black-59-color;
		padding-left: 20px;
		font-size: 15px;
		font-weight: normal;
		color: $black-59-color;
		position: relative;
		z-index: 1;
		&:focus {
			border: 1px solid $primary-color;
			color: $primary-color;
		}
		&::placeholder {
			color: $grey-70-color;
		}
	}
	select {
		display: block;
		width: 100%;
		height: 50px;
		background: none;
		border-radius: 8px;
		outline: none;
		border: 1px solid $black-59-color;
		padding-left: 20px;
		font-size: 15px;
		font-weight: normal;
		color: $black-59-color;
		position: relative;
		z-index: 1;
		background: url(assets/images/svg/select-arrow.svg);
		background-repeat: no-repeat;
		background-position: right 15px center;
		appearance: none;
		&:focus {
			border: 1px solid $primary-color;
			color: $primary-color;
		}
	}
	textarea {
		display: block;
		width: 100%;
		height: 120px;
		background: none;
		border-radius: 8px;
		outline: none;
		border: 1px solid $black-59-color;
		padding: 10px;
		font-size: 15px;
		font-weight: normal;
		color: $black-59-color;
		position: relative;
		z-index: 1;
		&:focus {
			border: 1px solid $primary-color;
			color: $primary-color;
		}
		&::placeholder {
			color: $grey-70-color;
		}
	}
}

.input-footer {
	text-align: center;
	font-weight: lighter;
	color: black-59-color;
	h6 {
		font-size: 14px;
		@media only screen and (max-width: 767.5px) {
			font-size: 12px;
		}
		@media only screen and (max-width: 575.5px) {
			font-size: 10px;
		}
	}
	a {
		color: $primary-color;
		font-weight: 600;
		position: relative;
		z-index: 1;
	}
}

.input-group input {
	box-shadow: none !important;
}

.password-visible {
	position: relative;
	.show-hide {
		position: absolute;
		right: 10px;
		top: 55%;
		color: dark-59-color;
		cursor: pointer;
		z-index: 2;
		user-select: none;
		transition: 0.3s;
		&:hover {
			color: $primary-color;
		}
	}
}

.input-area-pin {
	$char-w: 1ch;
	$gap: 1.25 * $char-w;
	$n-char: 4;
	$in-w: $n-char * ($char-w + $gap);
	input {
		display: block;
		margin-bottom: 30px;
		border: 0;
		padding: 0;
		width: $in-w;
		background: repeating-linear-gradient(90deg, $black-59-color 0, $black-59-color $char-w, transparent 0, transparent $char-w + $gap) 0 100% / #{$in-w - $gap} 2px no-repeat;
		font: 5ch droid sans mono, consolas, monospace;
		letter-spacing: $gap;

		&:focus {
			outline: none;
			color: $primary-color;
		}
	}
}

// expanded topic

.expanded {
	border: 1px solid $white-df-color;
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 30px;
	.fa-plus {
		display: block;
		@media only screen and (max-width: 575.5px) {
			margin-left: 10px;
		}
	}
	.fa-minus {
		display: none;
		@media only screen and (max-width: 575.5px) {
			margin-left: 10px;
		}
	}
	.expanded-topic {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		user-select: none;
		i {
			font-size: 15px;
			color: $black-59-color;
		}
		h5 {
			color: $black-59-color;
			margin: 0;
		}
	}
	.expanded-details {
		height: 0;
		overflow: hidden;
		transition: 0.3s;
	}
	&.active {
		display: block;
		box-shadow: 0 5px 5px $white-df-color;
		.fa-plus {
			display: none;
		}
		.fa-minus {
			display: block;
		}
		.expanded-topic {
			i {
				color: $primary-color;
			}
			h5 {
				color: $primary-color;
			}
		}
		.expanded-details {
			margin-top: 15px;
			height: max-content;
		}
	}
}

// input type date customize

input[type='date'] {
	position: relative;
	appearance: none;
	background: url(assets/images/svg/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: right 15px center;
	&::-webkit-calendar-picker-indicator {
		background: transparent;
		bottom: 0;
		color: transparent;
		cursor: pointer;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}
}

// input type number edit

input[type='number'] {
	background: url(assets/images/svg/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: right 15px center;
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

// custom radio input

.input-check-radio {
	margin-bottom: 10px;
	label {
		display: flex;
		align-items: center;
		text-align: left;
		font-size: 15px;
		font-weight: 600;
		color: $black-59-color;
		margin-bottom: 15px;
		i {
			display: none;
			border-radius: 50%;
			background-color: $primary-color;
			color: $white-color;
			font-size: 13px;
			padding: 3px;
			margin-right: 5px;
		}
	}
	.check-radio {
		input[type='radio'] {
			position: absolute;
			left: -9999px;
			width: 0;
			height: 0;
			visibility: hidden;
			+ label {
				position: relative;
				display: inline-block;
				border: 1px solid $grey-70-color;
				font-size: 14px;
				line-height: 16px;
				border-radius: 10px;
				color: $grey-70-color;
				margin-bottom: 10px;
				cursor: pointer;
				width: 100%;
				height: 50px;
				text-align: center;
				padding: 15px 0;
			}
			&:checked {
				+ label {
					border: 1px solid $primary-color;
					color: $primary-color;
				}
			}
		}
		.w-half {
			width: 49.5% !important;
			@media only screen and (max-width: 767.5px) {
				width: 100% !important;
			}
		}
	}
}

.anchorContent {
	display: block;
	height: 115px;
	margin-top: -115px;
	visibility: hidden;
}

// home introduction

.is-introduction {
	width: 100%;
	overflow: hidden;
	padding: 5vh 0;
	.header-content {
		form {
			.text-muted {
				margin-top: 30px;
				margin-bottom: 5px;
			}

			input {
				box-shadow: none !important;
			}

			input[type='text'] {
				border: 1px solid $secondary-color;
				border-radius: 10px;
				box-shadow: 0 !important;
				outline: 0 !important;
				&:focus {
					border: 1px solid $secondary-color;
				}
			}

			.input-group input:focus {
				border: 1px solid $secondary-color;
			}

			.sub-input {
				background-color: $secondary-color;
				color: white;
				font-weight: bold;
				border: 1px solid $secondary-color;
				padding-left: 20px;
				padding-right: 20px;
			}

			input[type='range'] {
				-webkit-appearance: none;
				-moz-appearance: none;
				width: 75%;
				height: 1px;
				margin-top: 20px;
				margin-bottom: 30px;
				height: 2px;
				padding: 0;
				border-radius: 2px;
				outline: none;
				cursor: pointer;
				background: $secondary-color;
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					-moz-appearance: none;
					-webkit-border-radius: 5px;
					height: 20px;
					width: 20px;
					border-radius: 50px;
					background: $white-color;
					border: 2px solid $secondary-color;
					box-shadow: 0 5px 3px $white-df-color;
				}
			}

			@media only screen and (max-width: 991.5px) {
				button {
					margin-bottom: 30px;
				}
			}
		}
	}
	.header-banner {
		width: 100%;
		overflow: hidden;
		video {
			width: 100%;
			max-width: 400px;
		}
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	background-color: $primary-color;
	overflow-x: hidden;
	transition: 0.5s;
	.extra-space-navbar {
		position: fixed;
		background: rgba(255, 255, 255, 0);
		top: 0;
		bottom: 0;
		left: 0;
		right: 250px;
		display: none;
	}
	.closebtn {
		height: 62px;
		box-sizing: border-box;
		display: flex;
		border-bottom: 1px solid $white-color;
		align-items: center;
		padding-left: 20px;
		font-weight: 400;
		svg {
			display: block;
			margin-right: 5px;
		}
	}
	a {
		color: $white-color;
		font-weight: bold;
		text-decoration: none;
	}
	.side-menu-links {
		margin: 30px 20px;
		a {
			display: block;
			border-bottom: 1px solid $white-color;
			padding: 15px 0;
			position: relative;
			font-weight: 500;
			&:hover {
				&:after {
					font-family: fontAwesome;
					content: '\f054';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					font-size: 12px;
					font-weight: 300;
				}
			}
		}
	}
}

// application processing

.application-process {
	// background-color: $bg-f9-color;
	width: 100%;
	overflow: hidden;
	padding: 5vh 0;
	h6 {
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.application-process-card {
		background-color: $bg-f9-color;
		border-radius: 10px;
		border: 1px solid $bg-f9-color;
		transition: 0.3s;
		text-align: center;
		padding: 30px 0;
		margin: 0 5px;
		cursor: pointer;
		.process-number {
			background-color: $primary-color;
			display: block;
			width: max-content;
			border-radius: 50%;
			font-size: 15px;
			font-weight: bold;
			width: 30px;
			height: 30px;
			color: $white-color;
			display: grid;
			place-items: center;
			margin: 15px auto;
			transition: 0.3s;
		}
		h5 {
			font-size: 20px;
			// line-height: 24px;
			// letter-spacing: 2px;
			font-weight: 600;
			color: #2e3192;
			margin-bottom: 8px;
		}
		// .line {
		// 	background-color: $white-df-color;
		// 	border: 1px solid $white-df-color;
		// 	height: 0;
		// 	margin: 0;
		// 	padding: 0;
		// 	margin: 15px 50px;
		// 	display: block;
		// }
		p {
			margin: 0;
			padding: 0;
			// line-height: 25px;
			color: $black-59-color;
			font-size: 15px;
			font-weight: 600;
		}
		&:hover {
			box-shadow: 0px 12px 12px $white-df-color;
			border: 1px solid $bg-f9-color;
			background-color: $white-color;
			.process-number {
				box-shadow: 0 5px 10px $white-df-color;
			}
			svg {
				rect {
					stroke: #2e3192 !important;
				}
				path {
					fill: #2e3192 !important;
				}
			}
		}
	}
	@media only screen and (max-width: 991.5px) {
		.application-process-card {
			margin-bottom: 10px;
		}
	}
}

.video {
	img {
		width: 100%;
	}
	padding-bottom: 5vh;
	.main-title {
		margin-bottom: 20px;
	}
	.video-image-modal {
		position: relative;
		.play-btn-modal {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			img {
				cursor: pointer;
				width: 100%;
				cursor: pointer;
			}
		}
	}
	p {
		font-size: 24px;
		color: #595959;
		margin: 0;
	}
	@media only screen and (max-width: 1199px) {
		padding-bottom: 0vh;
		p {
			font-size: 15px;
		}
	}
	@media only screen and (max-width: 767px) {
		padding-bottom: 2vh;
		.main-title {
			margin: 20px 0;
		}
		p {
			font-size: 15px;
		}
	}
}

.modal-home-video {
	.modal-content {
		background: none;
		border: none;
		iframe {
			width: 100%;
		}
	}
}

.close-btn-modal-home-video {
	background: $primary-color !important;
	border-radius: 50%;
	color: $white-color;
	outline: none !important;
	z-index: 1;
	background: none;
	border: none;
	height: 30px;
	width: 30px;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: -36px;
	text-align: center;
	position: absolute;
	top: 8%;
	right: 5%;
}

// download app link

.download-app-link {
	width: 100%;
	overflow: hidden;
	padding: 5vh 0;
	.container {
		.semi-title {
			margin-top: 60px;
			margin-bottom: 15px;
		}
		.semi-sub-title {
			margin-bottom: 60px;
		}
		form {
			.input-group-prepend {
				height: 50px;
				img {
					border-radius: 3px;
					margin-right: 5px;
				}
			}
			input {
				border: 1px solid $white-df-color;
				border-radius: 4px;
				width: 70%;
				height: 42px;
				font-size: 16px;
				font-weight: 500;
				color: $grey-70-color;
				margin-bottom: 20px;
				padding-left: 15px;
				padding-right: 15px;
				display: block;
				outline: none;
				box-shadow: none;
				&:focus {
					outline: none;
					border: 1px solid $secondary-color;
				}
				&::placeholder {
					color: #939597;
				}
			}
			@media only screen and (max-width: 991.5px) {
				button {
					margin-bottom: 30px;
				}
			}
		}
		.dwn-app-link-banner {
			width: 100%;
			overflow: hidden;
			text-align: center;
			img {
				width: 90%;
				max-width: 460px;
			}
		}
	}
}

// client review

.review {
	width: 100%;
	overflow: hidden;
	padding: 8vh 0;
	.main-title {
		margin-bottom: 45px;
	}
	.owl-item.active.center .item {
		background-color: #ffffff;
		box-shadow: 0px 8px 16px #00000012;
		border: 1px solid #f9f9f9;
	}
	.single-review {
		background-image: url(./assets/images/home/quotedown.png), url(./assets/images/home/quoteup.png);
		background-position: 97% 93%, 3% 7%;
		background-repeat: no-repeat, no-repeat;
		border-radius: 12px;
		background-color: #f9f9f9;
		padding: 30px 25px;
		margin: 0 10px;
		margin-bottom: 20px;
		.review-details {
			color: #595959;
			font-size: 18px;
		}
		.client-details {
			display: flex;
			align-items: center;
			.client-picture {
				width: 48px;
				height: 48px;
				margin-right: 10px;
			}
			.client-name {
				margin: 0;
				color: #000000;
				font-size: 18px;
				font-weight: bold;
			}
			.client-company {
				margin: 0;
				color: #595959;
				font-size: 14px;
			}
		}
	}
}

// download app

.download-app {
	width: 100%;
	overflow: hidden;
	padding: 5vh 0;
	background-color: $bg-f9-color;
	.container {
		.semi-title {
			margin-top: 10px;
			margin-bottom: 60px;
		}
		.semi-sub-title {
			margin-bottom: 60px;
			color: #535355;
			font-weight: 400;
		}
		.dwn-app-banner {
			width: 100%;
			overflow: hidden;
			text-align: center;
			img {
				width: 100%;
				max-width: 300px;
			}
		}
		@media only screen and (max-width: 991.5px) {
			.dwn-app-banner {
				margin-top: 30px;
			}
		}
	}
}

// Print Media

.print-media {
	width: 100%;
	overflow: hidden;
	padding: 5vh 0;
	.container {
		.main-title {
			margin-bottom: 60px;
		}
		.print-media-carousel {
			.item {
				border-radius: 10px;
				border: 1px solid $white-df-color;
				img {
					margin: 20px auto;
					width: 80px !important;
					height: 60px;
				}
			}
		}
	}
}

// Partners

.partners {
	width: 100%;
	overflow: hidden;
	padding: 5vh 0;
	.container {
		.main-title {
			margin-bottom: 60px;
		}
		.partners-company {
			.item {
				border-radius: 10px;
				border: 1px solid $white-df-color;
				img {
					margin: 20px auto;
					width: 80px !important;
					height: 60px;
				}
			}
		}
	}
}

.counting {
	padding: 5vh 0;
	.container {
		.counting-section {
			border-radius: 12px;
			background-color: #f1f2f7;
			padding: 30px 45px;
			@media only screen and (max-width: 992px) {
				padding: 10px 15px;
				text-align: center;
			}
			@media only screen and (max-width: 575px) {
				padding: 10px 15px;
			}
			.counting-content {
				margin-top: 5px;
				display: flex;
				align-items: center;
				@media only screen and (max-width: 992px) {
					flex-direction: column;
				}
				img {
					margin: auto;
					width: 60px;
				}
				p {
					margin: 0;
					font-size: 18px;
					color: $black-28-color;
					margin-top: 5px;
					@media only screen and (max-width: 992px) {
						font-size: 14px;
					}
					@media only screen and (max-width: 575px) {
						font-size: 13px;
					}
				}
				h3 {
					margin: 0;
					font-size: 32px;
					color: $black-28-color;
					@media only screen and (max-width: 992px) {
						margin-top: 10px;
						font-size: 20px;
					}
					@media only screen and (max-width: 575px) {
						font-size: 16px;
					}
				}
			}
		}
	}
}

.newsletter {
	width: 100%;
	overflow: hidden;
	.container {
		text-align: center;
		background: url(./assets/images/svg/bookPen.svg) 10% 8% no-repeat, url(./assets/images/svg/smallPlane.svg) 10% 100% no-repeat, url(./assets/images/svg/letter.svg) 90% 110% no-repeat;
		background-size: 60px, 80px, 120px;
		div {
			padding: 12vh 0;
			h1 {
				padding-top: 20px;
			}
			form {
				padding-bottom: 20px;
				input {
					border: 1px solid $secondary-color;
					border-radius: 10px;
					width: 100%;
					max-width: 400px;
					height: 50px;
					font-size: 25px;
					font-weight: 600;
					color: $grey-70-color;
					margin: 45px auto 30px auto;
					padding-left: 15px;
					padding-right: 15px;
					letter-spacing: 2px;
					display: block;
					&:focus {
						outline: none;
					}
					&::placeholder {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
}

// footer

footer {
	padding: 30px 0;
	background: #1b1e2e;
	color: #bebebe;

	.footer-app-link {
		margin-top: 20px;
		display: flex;
		img {
			width: 120px;
			height: 40px;
			margin-right: 10px;
		}
	}

	.footer-content {
		font-size: 15px;
		color: #bebebe;
		line-height: 28px;
		font-weight: 500;
		margin: 0;
	}

	.footer-header {
		color: $white-color;
		font-size: 16px;
		font-weight: bold;
		line-height: 28px;
		margin: 0;
	}

	.footer-links {
		a {
			font-size: 15px;
			font-weight: 400;
			color: #bebebe;
			display: block;
		}
	}

	.footer-social {
		margin-top: 5px;
		a {
			margin-right: 4px;
			svg {
				width: 32px;
			}
		}
	}

	.footer-copyright {
		margin: 0;
		margin-top: 10px;
		font-size: 15px;
	}
}

// scroll up

.scroll-up {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
	cursor: pointer;
	border-radius: 5px;
	z-index: 2;
	border: none;
	background: none;
	outline: none !important;
}

// authentication form

.authentication-form {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 30px 0;
	.container {
		position: relative;
		.logo {
			width: max-content;
			margin: auto;
		}
		form {
			margin: 30px auto;
			padding: 10vh;
			background: $bg-f9-color;
			width: 100%;
			max-width: 550px;
			min-width: 360px;
			border-radius: 10px;
			text-align: center;
			button {
				margin-top: 30px;
			}
		}
		@media only screen and (max-width: 575.5px) {
			form {
				padding: 5vh;
			}
		}
	}
}

// login content image

.login {
	.content-image {
		bottom: -180px;
		right: 50px;
	}
}

// registration content image

.registration {
	.input-group-prepend img {
		border-radius: 3px;
		margin-right: 5px;
	}
	.content-image {
		bottom: -150px;
		left: 0;
		padding-bottom: 30px;
		img {
			width: 95%;
		}
	}
}

// reset password content image

.reset-password {
	.content-image {
		padding-bottom: 30px;
		bottom: -180px;
		right: 50px;
	}
	form {
		h6 {
			font-size: 15px;
			line-height: 28px;
			font-weight: 600px;
			color: dark-59-color;
			text-align: left;
			margin-bottom: 15px;
		}
		small {
			display: block;
			font-weight: 600px;
			color: dark-59-color;
			text-align: left;
			margin-bottom: 30px;
		}
	}
}

// reset password pin content image

.reset-password-pin {
	.content-image {
		padding-bottom: 30px;
		bottom: -180px;
		right: 50px;
	}
	form {
		h6 {
			font-size: 15px;
			line-height: 28px;
			font-weight: 600px;
			color: dark-59-color;
			text-align: left;
			margin-bottom: 30px;
		}
	}
}

// save password content image

.save-password {
	.content-image {
		padding-bottom: 30px;
		bottom: -180px;
		right: 50px;
	}
}

// remember forgot

.remember-forgot {
	color: $black-59-color;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	div {
		display: flex;
		align-items: center;
		input {
			margin-right: 5px;
			appearance: initial;
			width: 15px;
			height: 15px;
			background: none;
			border: 1px solid $primary-color;
			border-radius: 2px;
			position: relative;
			z-index: 1;
			&:checked {
				background: $bg-f9-color;
				&::after {
					font-family: FontAwesome;
					content: '\f00c';
					font-size: 10px;
					color: $primary-color;
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	a {
		text-decoration: none;
		color: $black-59-color;
		font-weight: 15px;
		margin: 0;
		padding: 0;
	}
}

// content header

.content-header {
	background: url(assets/images/content-bg.webp);
	background-size: cover;
	background-position: center;
	max-height: 40vh;
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// color: $black-59-color;
	color: $secondary-color;
	@media only screen and (max-width: 575.5px) {
		height: 200px;
	}
	h1 {
		font-size: 50px;
		font-weight: bold;
		@media only screen and (max-width: 767.5px) {
			font-size: 30px;
		}
		@media only screen and (max-width: 575.5px) {
			font-size: 25px;
		}
	}
	a {
		color: $black-59-color;
		text-decoration: none;
	}
}

// contact page

.contact {
	margin: 60px 0;
	.container {
		.row {
			align-items: center;
		}
		form {
			background: $bg-f9-color;
			border-radius: 10px;
			padding: 60px 30px;
			margin-bottom: 30px;
			.input-group-prepend img {
				border-radius: 3px;
				margin-right: 5px;
			}
			button {
				display: block;
				margin: auto;
				margin-top: 30px;
			}
		}
		.contact-support {
			margin-bottom: 30px;
			.support-option {
				.default-btn {
					display: block;
					height: 60px;
					margin: 30px 50px;
					padding: 50px 0;
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						margin-right: 10px;
					}
				}
			}
			.contact-social-icon {
				text-align: center;
				img {
					margin: 15px;
				}
			}
		}
		.location-information {
			margin: auto;
			width: max-content;
			margin-bottom: 30px;
			.logo {
				margin-bottom: 30px;
			}
			h4 {
				font-size: 18px;
				font-weight: bold;
				line-height: 28px;
				color: $black-28-color;
			}
			h5 {
				font-size: 15px;
				font-weight: 600;
				line-height: 28px;
				color: $black-28-color;
			}
			p {
				font-size: 15px;
				font-weight: lighter;
				line-height: 28px;
				color: $black-28-color;
				margin: 0;
			}
		}
		.location-map {
			iframe {
				border-radius: 10px;
				width: 100%;
				height: 350px;
			}
		}
	}
}

// faqs

.faqs {
	margin: 90px 0;
	@media only screen and (max-width: 991.5px) {
		margin: 60px 0;
	}
	@media only screen and (max-width: 575.5px) {
		margin: 30px 0;
	}
	.container {
		.faqs-menu {
			h3 {
				font-size: 22px;
				font-weight: 600;
				line-height: 27px;
				margin-bottom: 45px;
				color: $black-28-color;
				padding-left: 30px;
			}
			.faqs-menu-link {
				padding: 30px;
				border-radius: 10px;
				border: 1px solid $white-df-color;
				box-shadow: 0 5px 10px $white-df-color;
				@media only screen and (max-width: 991.5px) {
					text-align: center;
					background: $primary-color;
					padding: 10px 30px;
					border-radius: 5px;
					box-shadow: none;
				}
				@media only screen and (max-width: 767.5px) {
					padding: 10px 10px;
				}
				@media only screen and (max-width: 575.5px) {
					padding: 10px 5px;
				}
				.active {
					color: $primary-color;
				}
				a {
					font-size: 18px;
					line-height: 20px;
					color: $black-59-color;
					display: block;
					text-decoration: none;
					outline: none;
					margin-bottom: 15px;
					@media only screen and (max-width: 991.5px) {
						color: $white-color !important;
						text-decoration: none;
						font-weight: bold;
						margin-bottom: 0;
						white-space: nowrap;
					}
					@media only screen and (max-width: 575.5px) {
						font-size: 15px;
					}
				}
			}
			@media only screen and (max-width: 991.5px) {
				h3 {
					font-size: 22px;
					font-weight: 600;
					line-height: 27px;
					width: max-content;
					margin: auto;
					margin-bottom: 30px;
					color: $black-28-color;
				}
				margin-bottom: 30px;
			}
		}
		.faqs-details {
			h3 {
				font-size: 22px;
				font-weight: 600;
				line-height: 27px;
				margin-bottom: 45px;
				color: $black-28-color;
			}
			.faq-content {
				display: none;
				.faq-details {
					.expanded-details {
						h6 {
							font-size: 18px;
							line-height: 25px;
							color: $black-59-color;
						}
					}
				}
				&.active {
					display: block;
				}
			}
		}
	}
}

// eligibility checker

.eligibility {
	.container {
		max-width: 700px;
		form {
			margin: 60px 0;
			.eligibility-details {
				margin-bottom: 30px;
				.eligibility-content {
					a {
						text-decoration: none;
					}
					.eligibility-actions {
						text-align: center;
						margin-top: 30px;
						margin-bottom: 15px;
					}
					.input-group-text {
						width: 60px;
						padding: 0 25px;
						font-weight: bold;
						background: $secondary-color;
						color: $white-color;
						border: 1px solid $secondary-color;
					}
					input[type='range'] {
						-webkit-appearance: none;
						-moz-appearance: none;
						border: none;
						height: 1px;
						padding: 0;
						border-radius: 2px;
						outline: none;
						cursor: pointer;
						background: $secondary-color;
						margin-top: 20px;
						&::-webkit-slider-thumb {
							-webkit-appearance: none;
							-moz-appearance: none;
							-webkit-border-radius: 5px;
							height: 20px;
							width: 20px;
							border-radius: 50px;
							background: $white-color;
							border: 1px solid $secondary-color;
							box-shadow: 0 5px 2px $white-df-color;
						}
					}
				}
				&.active {
					.eligibility-content {
						margin-top: 30px !important;
					}
					.input-area {
						margin-bottom: 30px !important;
					}
					.input-check-radio {
						margin-bottom: 20px !important;
					}
				}
			}
		}
	}
}

// profile edit

.profile-edit {
	.container {
		box-shadow: 0 5px 20px $white-df-color;
		border-radius: 10px;
		margin: 30px auto;
		form {
			margin: 60px 0;
			.contact-info {
				.input-area {
					textarea {
						height: 103px;
					}
				}
			}
			.service-info {
				.input-area {
					textarea {
						height: 135px;
					}
				}
			}
			.edit-details {
				margin-bottom: 30px;
				padding: 30px 20px;
				h5 {
					color: $primary-color;
					margin-bottom: 20px;
				}
				.edit-actions {
					text-align: center;
					margin-top: 30px;
					margin-bottom: 15px;
				}

				.edit-content {
					.photo {
						margin-top: 23px;
						width: 49%;
						display: inline-block;
						@media only screen and (max-width: 991.5px) {
							margin-top: 0px;
							margin-bottom: 15px;
							width: 100%;
						}
						img {
							width: 100px;
							height: 100px;
							border-radius: 100%;
							display: block;
							margin: auto;
						}
						button {
							height: 50px;
							width: 100%;
							margin-top: 20px;
							background: none;
							border: none;
							border: 1px solid $black-59-color;
							color: $black-59-color;
							font-weight: lighter;
							border-radius: 10px;
							outline: none;
							transition: 0.3s;
							&:hover {
								border: 1px solid $primary-color;
								color: $primary-color;
							}
						}
						input {
							display: none;
						}
					}
					.input-group-prepend {
						img {
							margin-right: 5px;
						}
					}
					a {
						text-decoration: none;
					}
					.reference {
						border: 1px solid $white-df-color;
						padding: 20px;
						border-radius: 10px;
						h3 {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

.profile-information {
	padding: 5vh 0;
	position: relative;
	.profile-header {
		border-radius: 12px;
		border: 1px solid #dfdfdf;
		background: #f9f9f9;
		padding: 0 20px;
		padding-top: 30px;
		.profile-details {
			.user-image {
				border-radius: 50%;
				position: relative;
				img {
					border-radius: 50%;
					width: 120px;
					height: 120px;
				}
				.dp {
					border: 1px solid #dfdfdf;
				}
				&:hover {
					.plus {
						display: none;
					}
					.change-photo {
						display: flex;
					}
				}
				.change-photo {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					border-radius: 50%;
					background-color: #00000080;
					color: white;
					display: none;
					align-items: center;
					justify-content: center;
					input {
						display: none;
					}
					label {
						text-align: center;
						span {
							display: block;
						}
					}
				}
				.plus {
					position: absolute;
					right: 6px;
					bottom: 6px;
					background: #ffffff;
					box-shadow: 0 3px 6px #00000029;
					border-radius: 50%;
					width: 32px;
					height: 32px;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						width: 50%;
						height: 50%;
						margin: 0;
					}
				}
			}
			.user-name {
				font-size: 24px;
				font-weight: 500;
				margin: 0;
				padding-bottom: 10px;
			}
			.apply-salary-btn {
				width: 100%;
				height: 48px;
				background: #ff6600;
				border: 1px solid #dfdfdf;
				border-radius: 8px;
				color: #ffffff;
				outline: none;
				padding: 0 60px;
			}
		}
		.user-other-info {
			text-align: right;
			p {
				margin: 0;
				padding: 0;
				padding-bottom: 5px;
			}
			.user-name {
				display: none;
			}
		}
		.profile-tab {
			margin-top: 20px;
			height: 52px;
			border-top: 1px solid #ebebeb;
			border-radius: 12px;
			display: flex;
			align-items: center;
			ul {
				width: 100%;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				li {
					list-style: none;
					a {
						font-size: 16px;
						color: #595959;
						padding-bottom: 15px;
						text-decoration: none;
						font-weight: 500;
						&.active {
							color: #000000;
							border-bottom: 2px solid #000000;
						}
					}
				}
			}
		}
		.small-profile-tab {
			display: none;
			border-top: 1px solid #ebebeb;
			margin: 15px 0;
			select {
				border: none;
				background: none;
				outline: none;
				width: 100%;
				padding: 10px 0;
				color: #ff6600;
				-webkit-appearance: none;
				-moz-appearance: none;
				background: url(./assets/images/profile/select-arrow.svg);
				background-repeat: no-repeat;
				background-position: right;
				option {
					font-weight: 500;
				}
			}
		}
		@media only screen and (max-width: 767px) {
			.profile-details {
				.user-name {
					font-size: 18px;
					padding-bottom: 5px;
				}
				.apply-salary-btn {
					height: 36px;
					padding: 0 20px;
				}
			}
			.user-other-info {
				p {
					font-size: 14px;
				}
			}
			.profile-tab {
				margin-top: 20px;
				height: 52px;
				border-top: 1px solid #ebebeb;
				border-radius: 12px;
				display: flex;
				align-items: center;
				ul {
					width: 100%;
					margin: 0;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: space-evenly;
					li {
						list-style: none;
						a {
							font-size: 14px;
							color: #595959;
							padding-bottom: 15px;
							text-decoration: none;
							font-weight: 500;
							&.active {
								color: #000000;
								border-bottom: 2px solid #000000;
							}
						}
					}
				}
			}
		}
		@media only screen and (max-width: 575px) {
			.profile-tab {
				display: none;
			}
			.profile-action {
				display: none;
			}
			.small-profile-tab {
				display: block;
			}
			.user-other-info {
				text-align: right;
				p {
					font-size: 12px;
				}
				.user-name {
					display: block;
					font-weight: 500;
					font-size: 16px;
				}
			}
		}
	}

	.profile-error-fill-message {
		margin: 3vh 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #fff3f5;
		border: 1px solid #ff9f9f;
		border-radius: 12px;
		padding: 15px;
		.error-info {
			display: flex;
			align-items: center;
			.fill-error-icon {
				width: 42px;
				height: 42px;
				border-radius: 50%;
				margin-right: 15px;
			}
			p {
				color: #000000;
				font-size: 18px;
				margin: 0;
			}
		}
		.profile-update {
			height: 45px;
			background: #00d59b;
			color: #ffffff;
			border-radius: 8px;
			outline: none;
			padding: 0 20px;
			border: none;
		}
	}
	.profile-success-fill-message {
		margin: 3vh 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #e2fff8;
		border: 1px solid #54ffcb;
		border-radius: 12px;
		padding: 15px;
		.success-info {
			display: flex;
			align-items: center;
			.fill-success-icon {
				width: 42px;
				height: 42px;
				border-radius: 50%;
				margin-right: 15px;
			}
			p {
				color: #000000;
				font-size: 18px;
				margin: 0;
			}
		}
	}
	.profile-info {
		background: #ffffff;
		border: 1px solid #ebebeb;
		border-radius: 12px;
		padding: 30px 20px;
		.edit-profile-btn {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 10px;
			a {
				outline: none;
			}
			button {
				background: #f4f8f9;
				border: none;
				color: #3481ff;
				border-radius: 8px;
				padding: 6px 20px;
				outline: none;
			}
		}
		.profile-single-info {
			margin-bottom: 10px;
			padding-bottom: 10px;
			.info-details {
				font-size: 18px;
				color: #000000;
				margin: 0;
			}
			.info-title {
				color: #707070;
				font-size: 14px;
				margin: 0;
				margin-bottom: 5px;
			}
			.info-image {
				max-width: 200px;
				max-height: 200px;
				width: 100%;
			}
			@media only screen and (max-width: 575px) {
				border-bottom: 1px solid #ececec;
				// margin-left: 15px;
				// margin-right: 15px;
			}
		}
	}
	.small-apply-salary-btn {
		display: none;
		position: sticky;
		bottom: 5px;
		width: 95%;
		margin: 10px auto;
		height: 48px;
		background: #ff6600;
		border: 1px solid #dfdfdf;
		border-radius: 8px;
		color: #ffffff;
		outline: none;
		padding: 0 60px;
	}
	@media only screen and (max-width: 767px) {
		.profile-error-fill-message {
			margin: 3vh 0;
			padding: 15px;
			.error-info {
				.fill-error-icon {
					width: 42px;
					height: 42px;
					margin-right: 10px;
				}
				p {
					font-size: 16px;
				}
			}
			.profile-update {
				background: #00d59b;
				color: #ffffff;
				border-radius: 8px;
				outline: none;
				padding: 0 10px;
				border: none;
			}
		}
		.profile-success-fill-message {
			margin: 3vh 0;
			padding: 15px;
			.success-info {
				.fill-success-icon {
					width: 42px;
					height: 42px;
					margin-right: 10px;
				}
				p {
					font-size: 16px;
				}
			}
		}
	}
	@media only screen and (max-width: 575px) {
		.profile-error-fill-message {
			margin: 3vh 0;
			padding: 15px;
			.error-info {
				.fill-error-icon {
					width: 42px;
					height: 42px;
					margin-right: 10px;
				}
				p {
					font-size: 16px;
				}
			}
			.profile-update {
				white-space: nowrap;
			}
		}
		.small-apply-salary-btn {
			display: block;
		}
	}
	@media only screen and (max-width: 450px) {
		.profile-error-fill-message {
			margin: 3vh 0;
			padding: 15px;
			.error-info {
				.fill-error-icon {
					width: 42px;
					height: 42px;
					margin-right: 10px;
				}
				p {
					font-size: 14px;
				}
			}
			.profile-update {
				height: 35px;
				padding: 0 5px;
				font-size: 14px;
				white-space: nowrap;
			}
		}
		.profile-success-fill-message {
			margin: 3vh 0;
			padding: 15px;
			.success-info {
				.fill-success-icon {
					width: 42px;
					height: 42px;
					margin-right: 10px;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}
}

.profile {
	.container {
		.user-profile {
			margin: 45px 0;
			box-shadow: 0 5px 20px $white-df-color;
			border-radius: 10px;
			.profile-header {
				background: url(assets/images/profile-header-bg.webp);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: right center;
				padding: 30px;
				border: 1px solid $white-df-color;
				border-bottom: none;
				border-radius: 10px 10px 0 0;
				.profile-status {
					display: flex;
					align-items: center;
					justify-content: space-between;
					h2 {
						font-weight: bold;
						color: $secondary-color;
						@media only screen and (max-width: 575.5px) {
							font-size: 18px;
						}
						span {
							display: block;
							font-size: 15px;
							text-align: right;
							margin-top: 10px;
							@media only screen and (max-width: 575.5px) {
								margin-top: 5px;
							}
						}
					}
					img {
						width: 130px;
						height: 130px;
						border-radius: 50%;
						@media only screen and (max-width: 767.5px) {
							width: 100px;
							height: 100px;
						}
					}
				}
				.profile-nav {
					width: max-content;
					margin: auto;
					margin-top: 15px;
					span {
						margin: 0 5px;
						cursor: pointer;
						font-weight: 600;
						color: $black-59-color;
						font-size: 20px;
						&.active {
							padding: 0 5px;
							border-bottom: 2px solid $primary-color;
							transition: 0.05s;
							background: #f47f2010;
							@media only screen and (max-width: 575.5px) {
								padding: 0 1px;
								border-bottom: 1px solid $primary-color;
							}
						}
						&:hover {
							padding: 0 5px;
							border-bottom: 2px solid $primary-color;
							transition: 0.05s;
							background: #f47f2010;
							@media only screen and (max-width: 575.5px) {
								padding: 0 1px;
								border-bottom: 1px solid $primary-color;
							}
						}
						@media only screen and (max-width: 767.5px) {
							margin: 0 3px;
							font-size: 15px;
						}
						@media only screen and (max-width: 575.5px) {
							margin: 0 1px;
							font-size: 10px;
						}
					}
				}
			}
			.personal-info {
				.profile-images {
					margin-top: 70px;
					@media only screen and (max-width: 991.5px) {
						margin-top: 30px;
					}
				}
			}
			.profile-content {
				display: none;
				padding: 15px 30px;
				border-radius: 0 0 10px 10px;
				border: 1px solid $white-df-color;
				border-top: none;
				h3 {
					width: max-content;
					margin: auto;
					color: $black-59-color;
					margin-bottom: 30px;
				}
				h4 {
					width: max-content;
					margin: auto;
					color: $black-59-color;
					margin: 30px 0;
				}
				a {
					img {
						width: 20px;
						height: 15px;
					}
				}
				.profile-data {
					margin-bottom: 20px;
					padding: 15px 10px;
					border-bottom: 1px solid $white-df-color;
					h4 {
						margin: 0;
						color: $secondary-color;
						margin-top: 5px;
						font-weight: 400;
						width: 100%;
					}
					h5 {
						color: $black-59-color;
						margin: 0;
						border-radius: 5px;
						font-weight: 600;
					}
				}
				.refer-by {
					margin-bottom: 20px;
					box-shadow: 0 0 5px $white-df-color;
					border-radius: 10px;
					padding: 15px 10px;
					h3 {
						margin: 0;
						margin-left: 10px;
					}
					.profile-deta {
						h4 {
							margin: 0;
							color: $secondary-color;
							margin-top: 5px;
							font-weight: 400;
						}
						h5 {
							color: $black-59-color;
							margin: 0;
							border-radius: 5px;
							font-weight: 600;
						}
					}
				}
				.account-info {
					margin-bottom: 20px;
					box-shadow: 0 0 5px $white-df-color;
					border-radius: 10px;
					padding: 15px 10px;
					h3 {
						margin: 0;
						margin-left: 10px;
					}
					.input-area {
						margin-top: 30px;
						padding-left: 10px;
						h5 {
							color: $black-59-color;
							margin: 0;
							border-radius: 5px;
							font-weight: 600;
							margin-bottom: 10px;
						}
					}
					.profile-deta {
						h4 {
							margin: 0;
							color: $secondary-color;
							margin-top: 5px;
							font-weight: 400;
						}
						h5 {
							color: $black-59-color;
							margin: 0;
							border-radius: 5px;
							font-weight: 600;
						}
					}
				}
				.profile-images {
					// display: flex;
					// align-items: center;
					// justify-content: space-around;
					margin-bottom: 20px;

					.profile-image {
						width: max-content;
						margin: auto;
						text-align: center;
						width: 49%;
						display: inline-block;
						// @media only screen and (max-width: 991.5px) {
						// 	margin-top: 0px;
						// 	margin-bottom: 15px;
						// 	width: 100%;
						// }
						h5 {
							color: $black-59-color;
							margin: 0;
							border-radius: 5px;
							margin-bottom: 10px;
						}
						img {
							margin-top: 10px;
							width: 100px;
							height: 100px;
							border-radius: 10px;
						}
					}
				}
			}
			.personal-info {
				display: block;
			}
			.contact-info,
			.service-info,
			.reference-info {
				display: none;
			}
		}
	}
}

.applications {
	.container {
		.application-table {
			margin: 60px 0;
			overflow-x: auto;
			table {
				width: 100%;
				min-width: 600px;
				background: $bg-f9-color;
				border-radius: 10px;
				margin-bottom: 20px;
				tr {
					width: 100%;
					td,
					th {
						padding: 10px 20px;
						width: 50%;
						min-width: 300px;
						&:nth-child(2) {
							width: 30%;
							min-width: 200px;
						}
						&:nth-child(3) {
							width: 20%;
							min-width: 200px;
						}
					}
					.application-service {
						padding: 20px;
						p {
							color: $black-59-color;
							margin: 0;
						}
					}
					.referral-code {
						color: $black-59-color;
						margin: 0;
					}
				}
			}
		}
	}
}

// application status

.application-status {
	margin: 60px 0;
	.container {
		.status {
			text-align: center;
			padding-top: 30px;
			padding-bottom: 60px;
			.icons {
				width: 50px;
				height: 50px;
				display: inline-block;
				position: relative;
				.icon {
					background: $primary-color-half;
					border-radius: 100%;
					box-shadow: 0 5px 5px $white-df-color;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
				&:nth-child(1) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						left: 50%;
						transform: translate(0%);
						@media only screen and (max-width: 767.5px) {
							bottom: -45px !important;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -40px !important;
						}
						@media only screen and (max-width: 450px) {
							bottom: -35px !important;
						}
					}
				}
				&:nth-child(2) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						left: 50%;
						transform: translate(0%);
						width: 410px;
						bottom: -80px !important;
						@media only screen and (max-width: 767.5px) {
							bottom: -70px !important;
							width: 360px;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -60px !important;
							width: 300px;
						}
						@media only screen and (max-width: 450px) {
							bottom: -50px !important;
							width: 270px;
						}
					}
				}
				&:nth-child(3) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						left: 50%;
						transform: translate(0%);
						bottom: -80px !important;
						width: 330px;
						@media only screen and (max-width: 991.5px) {
							bottom: -80px !important;
							width: 330px;
						}
						@media only screen and (max-width: 767.5px) {
							bottom: -65px !important;
							width: 290px;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -60px !important;
							width: 255px;
						}
						@media only screen and (max-width: 450px) {
							bottom: -50px !important;
							width: 225px;
						}
					}
				}
				&:nth-child(4) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						left: 50%;
						transform: translate(0%);

						@media only screen and (max-width: 767.5px) {
							bottom: -40px !important;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -40px !important;
							width: 180px;
						}
						@media only screen and (max-width: 450px) {
							bottom: -40px !important;
							width: 165px;
						}
					}
				}
				&:nth-child(5) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						right: 50%;
						transform: translate(0%);
						bottom: -85px !important;
						width: 330px;
						@media only screen and (max-width: 991.5px) {
							bottom: -85px !important;
							width: 330px;
						}
						@media only screen and (max-width: 767.5px) {
							bottom: -65px !important;
							width: 285px;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -55px !important;
							width: 245px;
						}
						@media only screen and (max-width: 450px) {
							bottom: -50px !important;
							width: 220px;
						}
					}
				}
				&:nth-child(6) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						right: 50%;
						transform: translate(0%);

						@media only screen and (max-width: 767.5px) {
							bottom: -45px !important;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -40px !important;
						}
						@media only screen and (max-width: 450px) {
							bottom: -35px !important;
						}
					}
				}
				&:nth-child(7) {
					.icon-status {
						bottom: -60px;
						width: max-content;
						right: 50%;
						transform: translate(0%);
						@media only screen and (max-width: 767.5px) {
							bottom: -45px !important;
						}
						@media only screen and (max-width: 575.5px) {
							bottom: -40px !important;
						}
						@media only screen and (max-width: 450px) {
							bottom: -35px !important;
						}
					}
				}
				.icon-status {
					background: $bg-f9-color;
					color: $secondary-color;
					border-radius: 5px;
					padding: 10px 10px;
					display: none;
					box-shadow: 0 5px 5px $white-df-color;
					position: absolute;
					@media only screen and (max-width: 767.5px) {
						font-size: 14px;
						padding: 5px 10px;
					}
					@media only screen and (max-width: 575.5px) {
						font-size: 12px;
						padding: 5px 10px;
					}
					@media only screen and (max-width: 450px) {
						font-size: 10px;
						padding: 5px 10px;
					}
				}
				.icon-name {
					background: $secondary-color;
					color: $white-color;
					border-radius: 5px;
					padding: 5px 10px;
					position: absolute;
					top: -45px !important;
					left: 50%;
					transform: translateX(-50%);
					white-space: nowrap;
					display: none;
					box-shadow: 0 5px 5px $white-df-color;
					@media only screen and (max-width: 767.5px) {
						top: -40px !important;
						font-size: 14px;
						padding: 5px 10px;
					}
					@media only screen and (max-width: 575.5px) {
						top: -35px !important;
						font-size: 12px;
						padding: 5px 10px;
					}
					@media only screen and (max-width: 450px) {
						top: -30px !important;
						font-size: 10px;
						padding: 3px 5px;
					}
				}
				&.active {
					.icon-name {
						display: inline-block;
					}
					.icon-status {
						display: block;
					}
					.icon {
						border-radius: 100% 100% 0% 100%;
						transform: rotate(45deg);
					}
				}
				&.done {
					.icon {
						background: $primary-color;
						&::before {
							font-family: FontAwesome;
							position: absolute;
							content: '\f00c';
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							color: $white-color;
						}
					}
				}
				&:nth-child(n) {
					margin-right: 25px;
					&:after {
						position: absolute;
						content: '';
						height: 1px;
						background-color: $white-df-color;
						width: 20px;
						right: -25px;
						top: 50%;
					}
					&:nth-last-child(1) {
						margin-right: 0px;
						&:after {
							display: none;
						}
					}
				}
				@media only screen and (max-width: 767.5px) {
					width: 40px;
					height: 40px;
					&.done {
						.icon {
							&::before {
								font-size: 14px !important;
							}
						}
					}
				}
				@media only screen and (max-width: 575.5px) {
					width: 30px;
					height: 30px;
					&.done {
						.icon {
							&::before {
								font-size: 10px !important;
							}
						}
					}
				}
				@media only screen and (max-width: 450px) {
					width: 24px;
					height: 24px;
					&.done {
						.icon {
							&::before {
								font-size: 8px !important;
							}
						}
					}
				}
			}
		}
		.application {
			margin: auto;
			margin-top: 60px;
			// max-width: 650px;
			background: $bg-f9-color;
			border-radius: 10px;
			padding: 20px 10px;
			h3 {
				color: $black-59-color;
				font-size: 20px;
				font-weight: 600;
			}
			p {
				color: $black-59-color;
				margin: 0;
				font-size: 15px;
			}
			button {
				margin-top: 30px;
			}

			@media only screen and (max-width: 991.5px) {
				margin-top: 45px;
			}
			@media only screen and (max-width: 767.5px) {
				margin-top: 30px;
				button {
					display: block;
					margin: auto;
					margin-top: 15px;
				}
				h3 {
					color: $black-59-color;
					font-size: 20px;
					font-weight: 600;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}
}

.fees-instruction-payment {
	display: none;
	margin: 30px 0;
	margin-top: 60px;
	.fees-instruction {
		box-shadow: 0 5px 20px $white-df-color;
		border-radius: 10px;
		padding-top: 15px;
		h1 {
			width: max-content;
			margin: auto;
			margin-bottom: 30px;
			font-size: 30px;
			font-weight: bold;
			color: $black-59-color;
			@media only screen and (max-width: 991.5px) {
				font-size: 25px;
			}
			@media only screen and (max-width: 767.5px) {
				margin-bottom: 25px;
				font-size: 20px;
			}
			@media only screen and (max-width: 575.5px) {
				margin-bottom: 20px;
				font-size: 20px;
			}
		}
		h2 {
			font-size: 22px;
			font-weight: 500;
			color: $black-59-color;
			@media only screen and (max-width: 991.5px) {
				font-size: 20px;
			}
			@media only screen and (max-width: 767.5px) {
				font-size: 18px;
			}
			@media only screen and (max-width: 575.5px) {
				font-size: 18px;
			}
		}
		h3 {
			color: $black-59-color;
			font-size: 18px;
			font-weight: 500;
			@media only screen and (max-width: 991.5px) {
				font-size: 18px;
			}
			@media only screen and (max-width: 767.5px) {
				font-size: 16px;
			}
			@media only screen and (max-width: 575.5px) {
				font-size: 16px;
			}
		}
		.mobile {
			border-radius: 10px 10px 0 0;
			background: $white-color;
			.mobile-banking {
				h3 {
					margin: 20px 0;
				}
				.mb-images {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 30px 0;
					.mb-content {
						display: flex;
						align-items: center;
						flex-direction: column;
						span {
							font-size: 14px;
							color: $black-59-color;
						}
						img {
							width: 60px;
							height: 60px;
							margin: 0 20px;
							margin-bottom: 10px;
						}
						@media only screen and (max-width: 575.5px) {
							span {
								font-size: 12px;
							}
							img {
								margin: 0 25px;
								margin-bottom: 10px;
								width: 40px;
								height: 40px;
							}
						}
					}
				}
			}
		}
		.bank {
			background: $bg-f9-color;
			padding-bottom: 30px !important;
			padding-top: 30px;
			border-radius: 0 0 10px 10px;
			.input-area {
				select {
					width: 100%;
					max-width: 400px;
					border: 1px solid white;
					background: url(assets/images/svg/custom-select-bg.svg);
					background-repeat: no-repeat;
					background-position: right 15px center;
					background-color: white;
					margin: 60px 0;
					box-shadow: 0 5px 5px $white-df-color;
				}
			}
			.bank-details {
				@media only screen and (max-width: 991.5px) {
					margin-bottom: 30px;
				}
			}
			.fees-instruction-btn {
				width: max-content;
				margin: auto;
			}
		}
	}
	.payment-confirmation {
		box-shadow: 0 5px 20px $white-df-color;
		border-radius: 10px;
		padding-top: 15px;
		display: none;
		h1 {
			width: max-content;
			margin: auto;
			margin-bottom: 30px;
			font-size: 30px;
			font-weight: bold;
			color: $black-59-color;
			@media only screen and (max-width: 991.5px) {
				font-size: 25px;
			}
			@media only screen and (max-width: 767.5px) {
				margin-bottom: 25px;
				font-size: 20px;
			}
			@media only screen and (max-width: 575.5px) {
				margin-bottom: 20px;
				font-size: 20px;
			}
		}
		h2 {
			font-size: 22px;
			font-weight: 500;
			color: $black-59-color;
			@media only screen and (max-width: 991.5px) {
				font-size: 20px;
			}
			@media only screen and (max-width: 767.5px) {
				font-size: 18px;
			}
			@media only screen and (max-width: 575.5px) {
				font-size: 18px;
			}
		}
		h3 {
			color: $black-59-color;
			font-size: 18px;
			font-weight: 500;
			@media only screen and (max-width: 991.5px) {
				font-size: 18px;
			}
			@media only screen and (max-width: 767.5px) {
				font-size: 16px;
			}
			@media only screen and (max-width: 575.5px) {
				font-size: 16px;
			}
		}
		.select-method {
			.switch-method {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 20px;
				.switch-input {
					margin: 0 5px;
					input {
						cursor: pointer;
					}
					label {
						cursor: pointer;
					}
				}
			}
			.mobile-method {
				text-align: center;
				margin-bottom: 20px;
				.mb-images {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 30px 0;
					.mb-content {
						display: flex;
						align-items: center;
						flex-direction: column;
						span {
							font-size: 14px;
							color: $black-59-color;
						}
						img {
							width: 60px;
							height: 60px;
							margin: 0 20px;
							margin-bottom: 10px;
						}
						@media only screen and (max-width: 575.5px) {
							span {
								font-size: 12px;
							}
							img {
								margin: 0 25px;
								margin-bottom: 10px;
								width: 40px;
								height: 40px;
							}
						}
					}
				}
				.operator-input {
					label {
						margin-right: 10px;
					}
				}
				h6 {
					font-weight: bold;
					margin: 20px 0;
				}
				.input-area {
					display: inline-block;
					width: 30%;
					margin: 0 30px;
					input {
						height: 40px;
					}
					label {
						margin-bottom: 10px;
					}
					@media only screen and (max-width: 767.5px) {
						display: block;
						width: 100%;
						margin: 0;
						margin-bottom: 20px;
					}
				}
			}
			.bank-method {
				display: none;
				margin: 30px 0;
				.photo {
					text-align: center;
					margin: auto;
					img {
						margin: auto;
						width: 300px;
						display: block;
						margin-bottom: 20px;
					}
					input {
						display: none !important;
					}
				}
			}
		}
		.payment-submit {
			background: $bg-f9-color;
			padding-bottom: 30px;
			padding-top: 60px;
			border-radius: 0 0 10px 10px;
			.fees-instruction-btn {
				width: max-content;
				margin: auto;
				button {
					&:nth-child(2) {
						background: $secondary-color;
					}
				}
			}
		}
	}
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	.container {
		.error-content {
			width: 100%;
			max-width: 550px;
			min-width: 360px;
			margin: auto;
			svg {
				width: 150px;
				margin: auto;
				display: block;
			}
			.error-details {
				margin-top: 30px;
				h1 {
					font-weight: bold;
					margin-bottom: 20px;
				}
				h3 {
					font-weight: bold;
					margin-bottom: 20px;
				}
				p {
					color: $black-59-color;
					line-height: 30px;
				}
				button {
					margin: 20px 0;
				}
			}
		}
	}
}

.modal-content {
	.application-update {
		margin: 30px 0;
		h3 {
			margin: auto;
			width: max-content;
			color: $black-59-color;
			font-size: 16px;
		}
		button {
			margin: auto;
			margin-top: 30px;
			width: max-content;
			display: block;
		}
	}
}

.switch-input {
	input[type='radio']:checked {
		width: 13px;
		height: 13px;
		-webkit-appearance: none;
		background: $primary-color;
		border: 1px solid $primary-color;
		border-radius: 50%;
	}
}

.operator-input {
	input[type='radio']:checked {
		width: 13px;
		height: 13px;
		-webkit-appearance: none;
		background: $primary-color;
		border: 1px solid $primary-color;
		border-radius: 50%;
	}
}

.apply-application {
	margin: 30px 0;
	.container {
		.apply {
			margin: auto;
			width: 100%;
			max-width: 550px;
			min-width: 360px;
			box-shadow: 0 5px 20px $white-df-color;
			border-radius: 10px;
			padding: 30px;
			h4 {
				color: $primary-color;
				margin-bottom: 30px;
			}
			button {
				display: block;
				margin: auto;
				margin-top: 30px;
			}
			.reference-info {
				button {
					margin-top: 0px;
					height: 50px;
					background: none;
					border: 1px solid $black-59-color;
					border-radius: 10px;
				}
				.bootstrap-select .bs-ok-default::after {
					width: 0.3em;
					height: 0.6em;
					border-width: 0 0.1em 0.1em 0;
					transform: rotate(45deg) translateY(0.5rem);
				}
				.btn.dropdown-toggle {
					background: url(assets/images/svg/select-arrow.svg);
					background-repeat: no-repeat;
					background-position: right 15px center;
					.filter-option {
						position: relative;
						top: 15%;
					}
					&:after {
						content: '';
						border: 0;
					}
				}
				.btn.dropdown-toggle:focus {
					outline: none !important;
				}
			}
			.input-area {
				input[type='file'] {
					padding: 0;
					appearance: none;
					position: relative;
				}
				input[type='file']::file-selector-button {
					height: 48px;
					border: none;
					width: 120px;
					border-radius: 10px 0 0 10px;
					border-right: 1px solid $black-59-color;
				}
				p {
					margin: 0;
					padding: 0;
					padding-bottom: 10px;
					border-bottom: 1px solid $white-df-color;
				}
				.apply-title {
					font-weight: 600;
					font-size: 20px;
					margin-top: 30px;
					margin-bottom: 20px;
					@media only screen and (max-width: 450px) {
						font-size: 18px;
					}
				}
			}
			.switch-method {
				input[type='radio']:checked {
					width: 13px;
					height: 13px;
					-webkit-appearance: none;
					background: $primary-color;
					border: 1px solid $primary-color;
					border-radius: 50%;
				}
				label {
					margin-right: 10px;
				}
			}
			.mobile-method {
				margin: 15px 0;
			}
			.bank-method {
				display: none;
				margin: 15px 0;
				.input-area {
					width: 48%;
					display: inline-block;
					@media only screen and (max-width: 575.5px) {
						width: 100%;
						display: block;
					}
				}
			}
		}
	}
}

.user-dashboard {
	margin: 60px 0;
	.container {
		.dashboard {
			.profile-header {
				background: url(assets/images/profile-header-bg.webp);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				padding: 30px;
				border: 1px solid $white-df-color;
				border-radius: 10px;
				.profile-status {
					display: flex;
					align-items: center;
					justify-content: space-between;
					h2 {
						a {
							text-decoration: none;
							color: $secondary-color;
						}
						font-weight: bold;
						color: $secondary-color;
						@media only screen and (max-width: 575.5px) {
							font-size: 18px;
						}
						span {
							display: block;
							font-size: 15px;
							text-align: right;
							margin-top: 10px;
							@media only screen and (max-width: 575.5px) {
								margin-top: 5px;
							}
						}
					}
					img {
						width: 130px;
						height: 130px;
						border-radius: 50%;
						@media only screen and (max-width: 767.5px) {
							width: 100px;
							height: 100px;
						}
					}
					.notify {
						display: inline-block;
						margin-right: 10px;
						cursor: pointer;
						svg {
							g {
								path {
									fill: $black-28-color;
								}
							}
						}
						&.active {
							svg {
								g {
									path {
										fill: $primary-color;
									}
								}
							}
						}
					}
				}
			}
			.loan-time {
				box-shadow: 0 5px 20px $white-df-color;
				display: flex;
				align-items: center;
				justify-content: space-around;
				padding: 30px 0;
				color: $black-59-color;
				font-weight: 500;
				border-radius: 10px;
				margin: 20px 0;
				text-align: center;
				p {
					margin: 0;
					padding: 0;
					font-weight: 500;
					span {
						font-weight: 600;
						color: $black-59-color;
					}
				}
				.divider {
					border: 1px solid $white-df-color;
					height: 70px;
				}
			}
			.refer-id {
				background: url(assets/images/profile-header-bg.webp);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				border-radius: 10px;
				padding: 48px;
				margin: 20px 0;
				box-shadow: 0 5px 20px $white-df-color;
				@media only screen and (max-width: 991.5px) {
					margin-top: 20px;
				}
				h3 {
					color: $secondary-color;
					width: max-content;
					margin: auto;
					font-weight: bold;
				}
				a {
					color: $secondary-color;
					text-decoration: none;
				}
			}
			.user-dashboard-banner {
				background: url(assets/images/svg/dashboardBanner.svg);
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 10px;
				height: 20vh;
				min-height: 200px;
				margin: 30px 0;
				display: grid;
				place-items: center;
				box-shadow: 0 5px 20px $white-df-color;
				.banner-content {
					h2 {
						color: $primary-color;
					}
					h6 {
						color: $secondary-color;
						text-align: center;
					}
				}
			}
			.user-dashboard-status {
				padding: 20px 20px;
				box-shadow: 0 5px 15px $white-df-color;
				border-radius: 10px;
				h4 {
					color: $black-59-color;
					margin-bottom: 20px;
				}
				.user-dashboard-status-single {
					* {
						padding: 0;
						margin: 0;
					}
					h4 {
						color: $black-28-color;
					}
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid $white-df-color;
					padding-bottom: 10px;
					margin: 20px 0;
				}
				button {
					display: block;
					width: max-content;
					margin: 20px auto;
					margin-top: 30px;
				}
				a {
					text-decoration: none;
				}
			}
			.lg-break {
				display: none;
				@media only screen and (max-width: 991.5px) {
					display: block;
					height: 30px;
				}
			}
		}
	}
}

// b2b dashboard navbar

.b2b-dashboard-navbar {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #f5f5f5;
	color: white;
	padding: 8px 10px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 999;
	.logo {
		display: flex;
		align-items: center;
		img {
			max-height: 50px;
			width: 230px;
		}
		.dashboard-menu {
			border: none;
			background: none;
			outline: none !important;
			padding-left: 15px;
			span {
				border: 1px solid $secondary-color;
				background-color: $secondary-color;
				width: 30px;
				height: 0px;
				font-size: 15px;
				margin: 0;
				display: block;
			}
			span:nth-child(2) {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
	.dash-nav {
		height: 100%;
		width: 250px;
		position: fixed;
		z-index: 1;
		top: 61px;
		left: 0;
		background-color: $white-color;
		overflow-x: hidden;
		transition: 0.3s;
		.side-menu-links {
			margin: 30px 20px;
			margin-right: 0;
			white-space: nowrap;
			a {
				color: #7e94af;
				font-weight: bold;
				text-decoration: none;
				display: block;
				border-bottom: 1px solid $white-color;
				padding: 15px 0;
				position: relative;
				font-weight: 500;
				display: flex;
				align-items: center;
				padding-left: 20px;

				span {
					margin-left: 10px;
				}
				&.active {
					color: $primary-color;
					background: #f5f5f5;
					border-right: 5px solid $primary-color;
					border-radius: 25px 0 0 25px;
					svg {
						path {
							stroke: $primary-color;
						}
					}
				}
				&:hover {
					color: $primary-color;
					background: #f5f5f5;
					border-right: 5px solid $primary-color;
					border-radius: 25px 0 0 25px;
					svg {
						path {
							stroke: $primary-color;
						}
					}
				}
			}
		}
	}
}

.b2b-dashboard {
	background: #f5f6f8;
	// transition: 0.3s;
	padding: 40px 40px;
	min-height: 100vh;
	.b2b-info {
		display: flex;
		align-items: start;
		justify-content: space-between;
		background: $white-color;
		padding: 20px;
		box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		box-sizing: border-box;
		margin-bottom: 30px;
		p {
			color: #8a8a8a;
			font-size: 16px;
			margin: 0;
			padding: 0;
			margin-bottom: 16px;
			font-weight: 500;
		}
		h2 {
			font-weight: 700;
			font-size: 24px;
			color: #494949;
			margin: 0;
			padding: 0;
		}
		&.active {
			background: $primary-color;
			p {
				color: $white-color;
			}
			h2 {
				color: $white-color;
			}
		}
	}
	.b2b-dashboard-employee {
		background-color: white;
		border-radius: 10px;
		padding: 15px 0;
		margin-bottom: 10px;
		.b2b-dashboard-topic {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #ebeff2;
			padding: 0 10px;
			padding-bottom: 10px;
			p {
				margin: 0;
				color: #334d6e;
				font-weight: 500;
				font-size: 16px;
			}
			.b2b-content-action {
				display: flex;
				align-items: center;
				column-gap: 10px;
				.b2b-add-new {
					border: none;
					background: #f47f202a;
					padding: 5px 10px;
					border-radius: 4px;
					font-weight: bold;
					color: $primary-color;
					outline: none;
				}
				.b2b-select {
					background: #f9f9f9;
					border-radius: 4px;
					padding: 8px 10px;
					color: #6a707e;
					font-size: 12px;
					select {
						border: none;
						background: none;
						appearance: none;
						width: 50px;
						color: $primary-color;
						background: url(assets/images/svg/b2b-custom-input-bg.svg);
						background-repeat: no-repeat;
						background-position: right 5px center;
						outline: none;
					}
				}
				input[type='search'] {
					border-radius: 4px;
					padding: 4px 10px;
					background: url(assets/images/svg/b2b-custom-search.svg);
					background-repeat: no-repeat;
					background-position: left 15px center;
					outline: none;
					border: none;
					background-color: #f9f9f9;
					border: 1px solid #d3d8dd;
					box-sizing: border-box;
					&::placeholder {
						color: #90a0b7;
						font-size: 12px;
						padding-left: 30px;
						position: absolute;
						top: 45%;
						transform: translateY(-50%);
					}
				}
			}
		}
		.b2b-employees {
			margin: 15px 0;
			padding: 10px;
			.employee-details {
				box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
				border-radius: 4px;
				background: #ffffff;
				padding: 15px 5px;
				overflow: hidden;
				height: 50px;
				margin-bottom: 15px;
				.single-employee {
					display: flex;
					align-items: center;
					justify-content: space-between;

					* {
						padding: 0;
						margin: 0;
					}
					.user {
						display: flex;
						align-items: center;
						column-gap: 10px;
						img {
							border-radius: 50%;
						}
					}
					.transaction {
						font-size: 13px;
						color: #4c5862;
						opacity: 0.5;
					}
					.id {
						font-size: 13px;
						color: #4c5862;
						opacity: 0.5;
					}
					.designation {
						font-size: 13px;
						color: #4c5862;
						opacity: 0.5;
					}
					.join-date {
						font-size: 13px;
						color: #4c5862;
					}
					.details-toggle {
						cursor: pointer;
						.hide-det {
							display: none;
						}
						.show-det {
							display: block;
						}
					}
				}
				.single-employee-details {
					margin: 10px;
					p {
						margin: 0;
						font-size: 13px;
						font-weight: 400;
					}
				}
				&.active {
					height: max-content;
					background: #f47f2010;
					.details-toggle {
						.show-det {
							display: none;
						}
						.hide-det {
							display: block;
						}
					}
				}
			}
			.b2b-show-more {
				display: block;
				width: max-content;
				margin: auto;
				margin-top: 30px;
				background: none;
				border: none;
				outline: none;
				color: $primary-color;
			}
		}
	}
	.b2b-dashboard-dept {
		background-color: white;
		border-radius: 10px;
		padding: 15px 0;
		margin-bottom: 10px;
		.b2b-dashboard-topic {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #ebeff2;
			padding: 0 10px;
			padding-bottom: 10px;

			p {
				margin: 0;
				color: #334d6e;
				font-weight: 500;
				font-size: 16px;
			}
			.b2b-content-action {
				.b2b-add-new {
					border: none;
					background: #f47f202a;
					padding: 5px 10px;
					border-radius: 4px;
					font-weight: bold;
					color: $primary-color;
					outline: none;
				}
				input[type='search'] {
					width: 120px;
					border-radius: 4px;
					padding: 4px 10px;
					background: url(assets/images/svg/b2b-custom-search.svg);
					background-repeat: no-repeat;
					background-position: left 15px center;
					outline: none;
					border: none;
					background-color: #f9f9f9;
					border: 1px solid #d3d8dd;
					box-sizing: border-box;
					&::placeholder {
						color: #90a0b7;
						font-size: 12px;
						padding-left: 30px;
						position: absolute;
						top: 45%;
						transform: translateY(-50%);
					}
				}
			}
		}
		.b2b-departments {
			margin: 5px 0;
			padding: 10px;
			padding-bottom: 0;
			.department-details {
				box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
				border-radius: 4px;
				background: #ffffff;
				padding: 15px 5px;
				overflow: hidden;
				height: 50px;
				margin-bottom: 15px;
				.single-department {
					display: flex;
					align-items: center;
					justify-content: space-between;

					* {
						padding: 0;
						margin: 0;
					}
					.dept {
						display: flex;
						align-items: center;
						column-gap: 10px;
						img {
							border-radius: 50%;
						}
					}
					.info {
						font-size: 13px;
						color: #4c5862;
						opacity: 0.5;
					}
					.details-toggle {
						cursor: pointer;
						.hide-det {
							display: none;
						}
						.show-det {
							display: block;
						}
					}
				}
				.single-dept-details {
					margin: 10px;
					p {
						margin: 0;
						font-size: 13px;
						font-weight: 400;
					}
				}
				&.active {
					height: max-content;
					background: #f47f2010;
					.details-toggle {
						.show-det {
							display: none;
						}
						.hide-det {
							display: block;
						}
					}
				}
			}
		}
	}
	.b2b-salary-graph {
		background-color: white;
		border-radius: 10px;
		padding: 15px 0;
		margin-bottom: 10px;
		.b2b-dashboard-topic {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #ebeff2;
			padding: 0 10px;
			padding-bottom: 10px;
			p {
				margin: 0;
				color: #334d6e;
				font-weight: 500;
				font-size: 16px;
			}
			.b2b-content-action {
				display: flex;
				align-items: center;
				column-gap: 10px;
				.b2b-select {
					background: #f9f9f9;
					border-radius: 4px;
					padding: 8px 10px;
					color: #6a707e;
					font-size: 12px;
					select {
						border: none;
						background: none;
						appearance: none;
						width: 50px;
						color: $primary-color;
						background: url(assets/images/svg/b2b-custom-input-bg.svg);
						background-repeat: no-repeat;
						background-position: right 5px center;
						outline: none;
					}
				}
				input[type='search'] {
					border-radius: 4px;
					padding: 4px 10px;
					background: url(assets/images/svg/b2b-custom-search.svg);
					background-repeat: no-repeat;
					background-position: left 15px center;
					outline: none;
					border: none;
					background-color: #f9f9f9;
					border: 1px solid #d3d8dd;
					box-sizing: border-box;
					&::placeholder {
						color: #90a0b7;
						font-size: 12px;
						padding-left: 30px;
						position: absolute;
						top: 45%;
						transform: translateY(-50%);
					}
				}
			}
		}
		h5 {
			width: max-content;
			margin: auto;
		}
	}
	.b2b-employee-table {
		width: 100%;
		overflow-x: auto;
		table {
			width: 100%;
			td * {
				margin: 0;
				padding: 0;
			}
			th {
				background: #e5e5e5;
			}
			td,
			th {
				padding: 10px;
				white-space: nowrap;
			}
			td {
				padding: 15px 10px;
			}
			.user {
				display: flex;
				align-items: center;
				column-gap: 10px;
				img {
					border-radius: 50%;
				}
			}
			.transaction {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
			.id {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
			.designation {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
			.join-date {
				font-size: 13px;
				color: #4c5862;
			}
			.salary {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
			.department {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
			.tin {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
			.contact {
				font-size: 13px;
				color: #4c5862;
				opacity: 0.5;
			}
		}
	}
	.company {
		.company-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #dfdfdf;
			padding: 15px;
			p {
				padding: 0;
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				color: #334d6e;
			}
			button {
				background: none;
				border: none;
				color: $primary-color;
				font-weight: bold;
			}
		}
		.details {
			padding: 10px 15px;

			p {
				margin: 0;
				font-weight: 500;
				font-size: 14px;
				color: #7e94af;
				margin-bottom: 5px;
			}
			h5 {
				margin: 0;
				font-size: 18px;
				color: #334d6e;
				margin-bottom: 5px;
				word-break: break-all;
			}
		}
		.social-media {
			border-radius: 10px;
			background-color: $white-color;
			margin-bottom: 20px;
		}
		.company-info {
			border-radius: 10px;
			background-color: $white-color;
			margin-bottom: 20px;
		}
		.contact-info {
			border-radius: 10px;
			background-color: $white-color;
			margin-bottom: 20px;
		}
		.contact-map {
			iframe {
				width: 100%;
				border-radius: 10px;
				min-height: 50vh;
			}
		}
	}
}

.doc-header {
	display: block;
	width: max-content;
	margin-left: 10px !important;
	border-bottom: 1px solid $primary-color;
}

.contact-add {
	.add-employee {
		background: $white-color;
		border-radius: 8px;
		box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);
		margin-bottom: 20px;
		.content-head {
			p {
				font-weight: 600;
				font-size: 18px;
				color: #334d6e;
				margin: 0;
				padding: 15px 10px;
			}
			border-bottom: 1px solid #dfdfdf;
		}
		.content-details {
			padding: 15px 10px;
			.input-area {
				label {
					font-size: 14px;
				}
				input {
					border: 1px solid #e0e0e0;
					box-sizing: border-box;
					border-radius: 6px;
					height: 48px;
				}
				select {
					border: 1px solid #e0e0e0;
					box-sizing: border-box;
					border-radius: 6px;
					height: 48px;
				}
			}
			.input-area-radio {
				display: flex;
				align-items: center;
				column-gap: 5px;
				margin-bottom: 10px;
				input {
					display: inline;
					width: 15px !important;
					height: 15px !important;
				}
				label {
					display: inline;
					margin: 0;
					font-size: 14px;
				}
			}

			.b2b-save {
				width: max-content;
				display: block;
				margin: 10px auto;
				background: none;
				border: 1px solid $primary-color;
				color: $primary-color;
				padding: 5px 25px;
				outline: none;
				margin-top: 18px;
			}
			.gross-salary {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 5px;
				p {
					font-size: 16px;
					color: #334d6e;
					margin: 0;
				}
				h3 {
					font-weight: 600;
					font-size: 18px;
					color: $primary-color;
					margin: 0;
				}
			}
			.photo {
				width: 49%;
				display: inline-block;
				margin-bottom: 15px;
				img {
					width: 150px;
					height: 150px;
					cursor: pointer;
				}
			}
			.chairman-employee,
			.birth-employee {
				display: none;
			}
		}
		.b2b-money-system {
			.bank-method {
				display: none;
			}
		}
		.b2b-payment-user {
			p {
				font-size: 16px;
				color: #334d6e;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
		.gross-salary {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 5px;
			p {
				font-size: 16px;
				color: #334d6e;
				margin: 0;
			}
			h3 {
				font-weight: 600;
				font-size: 18px;
				color: $primary-color;
				margin: 0;
			}
		}
	}
}
