@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@media only screen and (max-width: 575px) {
  .container {
    width: 92%;
  }
}
.default-btn {
  background-color: #ff6600;
  padding: 8px 20px;
  border-radius: 25px;
  outline: none !important;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  border: 1px solid #ff6600;
  font-weight: 600;
}
.default-btn:active {
  transition: 0.3s;
}

.secondary-btn {
  background-color: #3a3868;
  padding: 8px 20px;
  border-radius: 25px;
  outline: none !important;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  border: 1px solid #3a3868;
  font-weight: 600;
}
.secondary-btn:active {
  transition: 0.3s;
}

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

.default-btn:hover {
  box-shadow: 0 0 16px #dfdfdf;
}

.default-shadow {
  box-shadow: 0 20px 10px var(--color-df);
}

.sm-display-block {
  display: none !important;
}

@media only screen and (max-width: 991.5px) {
  .sm-display-block {
    display: block !important;
  }
}
@media only screen and (max-width: 1200px) {
  .lg-display-hide {
    display: none;
  }
}
@media only screen and (max-width: 991.5px) {
  .md-display-hide {
    display: none;
  }
}
@media only screen and (max-width: 767.5px) {
  .sm-display-hide {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.main-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  color: #3a3868;
}

.sub-title {
  font-size: 36px;
  font-weight: lighter;
  color: #707070;
  font-style: italic;
  line-height: 36px;
}

.semi-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  color: #595959;
}

.semi-sub-title {
  font-size: 24px;
  font-weight: lighter;
  color: #595959;
  font-style: italic;
  line-height: 24px;
}

@media only screen and (max-width: 1200px) {
  .main-title {
    font-size: 40px;
    line-height: 40px;
  }

  .sub-title {
    font-size: 40px;
    line-height: 40px;
  }

  .semi-title {
    font-size: 30px;
    line-height: 35px;
  }

  .semi-sub-title {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 991.5px) {
  .main-title {
    font-size: 30px;
    line-height: 30px;
  }

  .sub-title {
    font-size: 30px;
    line-height: 30px;
  }

  .semi-title {
    font-size: 25px;
    line-height: 30px;
  }

  .semi-sub-title {
    font-size: 25px;
    line-height: 30px;
  }
}
.is-navbar {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: none;
  transition: 0.3s;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  border-bottom: 1px solid #dfdfdf;
}
.is-navbar .logo img {
  max-height: 50px;
}
.is-navbar .call-us {
  font-size: 16px;
  font-weight: 600;
  color: #535353;
  margin-right: 30px;
  text-decoration: none;
}
.is-navbar .call-us span {
  margin-left: 5px;
}
.is-navbar .default-btn {
  background-color: #ffffff;
  color: #ff6600;
  font-weight: 600;
}
.is-navbar .navigation-links a {
  margin-right: 30px;
  text-decoration: none;
}
.is-navbar .navigation-links .navigation-link {
  font-size: 16px;
  font-weight: 600;
  color: #535353;
}
.is-navbar .hamburger-menu {
  border: none;
  background: none;
  outline: none !important;
}
.is-navbar .hamburger-menu span {
  border: 1px solid #3a3868;
  background-color: #3a3868;
  width: 30px;
  height: 0px;
  font-size: 15px;
  margin: 0;
  display: block;
}
.is-navbar .hamburger-menu span:nth-child(2) {
  width: 20px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.breadcrumb-is {
  display: block;
  width: max-content;
  margin: 5px auto;
  color: #595959;
}
.breadcrumb-is a {
  color: #595959;
  text-decoration: none;
}

/* owl nav */
.owl-prev,
.owl-next {
  border: none !important;
  outline: none !important;
  background: none !important;
}

.owl-next {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.owl-prev {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

@media only screen and (min-width: 575px) {
  .owl-next {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
  }

  .owl-prev {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
  }
}
.content-image {
  position: absolute;
}
.content-image img {
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .content-image {
    display: none;
  }
}

.input-area {
  margin-bottom: 20px;
}
.input-area label {
  display: block;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 15px;
}
.input-area input {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid #595959;
  padding-left: 20px;
  font-size: 15px;
  font-weight: normal;
  color: #595959;
  position: relative;
  z-index: 1;
}
.input-area input:focus {
  border: 1px solid #ff6600;
  color: #ff6600;
}
.input-area input::placeholder {
  color: #707070;
}
.input-area select {
  display: block;
  width: 100%;
  height: 50px;
  background: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid #595959;
  padding-left: 20px;
  font-size: 15px;
  font-weight: normal;
  color: #595959;
  position: relative;
  z-index: 1;
  background: url(assets/images/svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  appearance: none;
}
.input-area select:focus {
  border: 1px solid #ff6600;
  color: #ff6600;
}
.input-area textarea {
  display: block;
  width: 100%;
  height: 120px;
  background: none;
  border-radius: 8px;
  outline: none;
  border: 1px solid #595959;
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #595959;
  position: relative;
  z-index: 1;
}
.input-area textarea:focus {
  border: 1px solid #ff6600;
  color: #ff6600;
}
.input-area textarea::placeholder {
  color: #707070;
}

.input-footer {
  text-align: center;
  font-weight: lighter;
  color: black-59-color;
}
.input-footer h6 {
  font-size: 14px;
}
@media only screen and (max-width: 767.5px) {
  .input-footer h6 {
    font-size: 12px;
  }
}
@media only screen and (max-width: 575.5px) {
  .input-footer h6 {
    font-size: 10px;
  }
}
.input-footer a {
  color: #ff6600;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.input-group input {
  box-shadow: none !important;
}

.password-visible {
  position: relative;
}
.password-visible .show-hide {
  position: absolute;
  right: 10px;
  top: 55%;
  color: dark-59-color;
  cursor: pointer;
  z-index: 2;
  user-select: none;
  transition: 0.3s;
}
.password-visible .show-hide:hover {
  color: #ff6600;
}

.input-area-pin input {
  display: block;
  margin-bottom: 30px;
  border: 0;
  padding: 0;
  width: 9ch;
  background: repeating-linear-gradient(90deg, #595959 0, #595959 1ch, transparent 0, transparent 2.25ch) 0 100%/7.75ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 1.25ch;
}
.input-area-pin input:focus {
  outline: none;
  color: #ff6600;
}

.expanded {
  border: 1px solid #dfdfdf;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 30px;
}
.expanded .fa-plus {
  display: block;
}
@media only screen and (max-width: 575.5px) {
  .expanded .fa-plus {
    margin-left: 10px;
  }
}
.expanded .fa-minus {
  display: none;
}
@media only screen and (max-width: 575.5px) {
  .expanded .fa-minus {
    margin-left: 10px;
  }
}
.expanded .expanded-topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.expanded .expanded-topic i {
  font-size: 15px;
  color: #595959;
}
.expanded .expanded-topic h5 {
  color: #595959;
  margin: 0;
}
.expanded .expanded-details {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.expanded.active {
  display: block;
  box-shadow: 0 5px 5px #dfdfdf;
}
.expanded.active .fa-plus {
  display: none;
}
.expanded.active .fa-minus {
  display: block;
}
.expanded.active .expanded-topic i {
  color: #ff6600;
}
.expanded.active .expanded-topic h5 {
  color: #ff6600;
}
.expanded.active .expanded-details {
  margin-top: 15px;
  height: max-content;
}

input[type=date] {
  position: relative;
  appearance: none;
  background: url(assets/images/svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type=number] {
  background: url(assets/images/svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-check-radio {
  margin-bottom: 10px;
}
.input-check-radio label {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  color: #595959;
  margin-bottom: 15px;
}
.input-check-radio label i {
  display: none;
  border-radius: 50%;
  background-color: #ff6600;
  color: #ffffff;
  font-size: 13px;
  padding: 3px;
  margin-right: 5px;
}
.input-check-radio .check-radio input[type=radio] {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}
.input-check-radio .check-radio input[type=radio] + label {
  position: relative;
  display: inline-block;
  border: 1px solid #707070;
  font-size: 14px;
  line-height: 16px;
  border-radius: 10px;
  color: #707070;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 15px 0;
}
.input-check-radio .check-radio input[type=radio]:checked + label {
  border: 1px solid #ff6600;
  color: #ff6600;
}
.input-check-radio .check-radio .w-half {
  width: 49.5% !important;
}
@media only screen and (max-width: 767.5px) {
  .input-check-radio .check-radio .w-half {
    width: 100% !important;
  }
}

.anchorContent {
  display: block;
  height: 115px;
  margin-top: -115px;
  visibility: hidden;
}

.is-introduction {
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
}
.is-introduction .header-content form .text-muted {
  margin-top: 30px;
  margin-bottom: 5px;
}
.is-introduction .header-content form input {
  box-shadow: none !important;
}
.is-introduction .header-content form input[type=text] {
  border: 1px solid #3a3868;
  border-radius: 10px;
  box-shadow: 0 !important;
  outline: 0 !important;
}
.is-introduction .header-content form input[type=text]:focus {
  border: 1px solid #3a3868;
}
.is-introduction .header-content form .input-group input:focus {
  border: 1px solid #3a3868;
}
.is-introduction .header-content form .sub-input {
  background-color: #3a3868;
  color: white;
  font-weight: bold;
  border: 1px solid #3a3868;
  padding-left: 20px;
  padding-right: 20px;
}
.is-introduction .header-content form input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 75%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 2px;
  padding: 0;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background: #3a3868;
}
.is-introduction .header-content form input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  border: 2px solid #3a3868;
  box-shadow: 0 5px 3px #dfdfdf;
}
@media only screen and (max-width: 991.5px) {
  .is-introduction .header-content form button {
    margin-bottom: 30px;
  }
}
.is-introduction .header-banner {
  width: 100%;
  overflow: hidden;
}
.is-introduction .header-banner video {
  width: 100%;
  max-width: 400px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #ff6600;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav .extra-space-navbar {
  position: fixed;
  background: rgba(255, 255, 255, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 250px;
  display: none;
}
.sidenav .closebtn {
  height: 62px;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid #ffffff;
  align-items: center;
  padding-left: 20px;
  font-weight: 400;
}
.sidenav .closebtn svg {
  display: block;
  margin-right: 5px;
}
.sidenav a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.sidenav .side-menu-links {
  margin: 30px 20px;
}
.sidenav .side-menu-links a {
  display: block;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
  position: relative;
  font-weight: 500;
}
.sidenav .side-menu-links a:hover:after {
  font-family: fontAwesome;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 12px;
  font-weight: 300;
}

.application-process {
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
}
.application-process h6 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.application-process .application-process-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  transition: 0.3s;
  text-align: center;
  padding: 30px 0;
  margin: 0 5px;
  cursor: pointer;
}
.application-process .application-process-card .process-number {
  background-color: #ff6600;
  display: block;
  width: max-content;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  color: #ffffff;
  display: grid;
  place-items: center;
  margin: 15px auto;
  transition: 0.3s;
}
.application-process .application-process-card h5 {
  font-size: 20px;
  font-weight: 600;
  color: #2e3192;
  margin-bottom: 8px;
}
.application-process .application-process-card p {
  margin: 0;
  padding: 0;
  color: #595959;
  font-size: 15px;
  font-weight: 600;
}
.application-process .application-process-card:hover {
  box-shadow: 0px 12px 12px #dfdfdf;
  border: 1px solid #f9f9f9;
  background-color: #ffffff;
}
.application-process .application-process-card:hover .process-number {
  box-shadow: 0 5px 10px #dfdfdf;
}
.application-process .application-process-card:hover svg rect {
  stroke: #2e3192 !important;
}
.application-process .application-process-card:hover svg path {
  fill: #2e3192 !important;
}
@media only screen and (max-width: 991.5px) {
  .application-process .application-process-card {
    margin-bottom: 10px;
  }
}

.video {
  padding-bottom: 5vh;
}
.video img {
  width: 100%;
}
.video .main-title {
  margin-bottom: 20px;
}
.video .video-image-modal {
  position: relative;
}
.video .video-image-modal .play-btn-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video .video-image-modal .play-btn-modal img {
  cursor: pointer;
  width: 100%;
  cursor: pointer;
}
.video p {
  font-size: 24px;
  color: #595959;
  margin: 0;
}
@media only screen and (max-width: 1199px) {
  .video {
    padding-bottom: 0vh;
  }
  .video p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .video {
    padding-bottom: 2vh;
  }
  .video .main-title {
    margin: 20px 0;
  }
  .video p {
    font-size: 15px;
  }
}

.modal-home-video .modal-content {
  background: none;
  border: none;
}
.modal-home-video .modal-content iframe {
  width: 100%;
}

.close-btn-modal-home-video {
  background: #ff6600 !important;
  border-radius: 50%;
  color: #ffffff;
  outline: none !important;
  z-index: 1;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: -36px;
  text-align: center;
  position: absolute;
  top: 8%;
  right: 5%;
}

.download-app-link {
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
}
.download-app-link .container .semi-title {
  margin-top: 60px;
  margin-bottom: 15px;
}
.download-app-link .container .semi-sub-title {
  margin-bottom: 60px;
}
.download-app-link .container form .input-group-prepend {
  height: 50px;
}
.download-app-link .container form .input-group-prepend img {
  border-radius: 3px;
  margin-right: 5px;
}
.download-app-link .container form input {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  width: 70%;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  outline: none;
  box-shadow: none;
}
.download-app-link .container form input:focus {
  outline: none;
  border: 1px solid #3a3868;
}
.download-app-link .container form input::placeholder {
  color: #939597;
}
@media only screen and (max-width: 991.5px) {
  .download-app-link .container form button {
    margin-bottom: 30px;
  }
}
.download-app-link .container .dwn-app-link-banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.download-app-link .container .dwn-app-link-banner img {
  width: 90%;
  max-width: 460px;
}

.review {
  width: 100%;
  overflow: hidden;
  padding: 8vh 0;
}
.review .main-title {
  margin-bottom: 45px;
}
.review .owl-item.active.center .item {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px #00000012;
  border: 1px solid #f9f9f9;
}
.review .single-review {
  background-image: url(./assets/images/home/quotedown.png), url(./assets/images/home/quoteup.png);
  background-position: 97% 93%, 3% 7%;
  background-repeat: no-repeat, no-repeat;
  border-radius: 12px;
  background-color: #f9f9f9;
  padding: 30px 25px;
  margin: 0 10px;
  margin-bottom: 20px;
}
.review .single-review .review-details {
  color: #595959;
  font-size: 18px;
}
.review .single-review .client-details {
  display: flex;
  align-items: center;
}
.review .single-review .client-details .client-picture {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.review .single-review .client-details .client-name {
  margin: 0;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}
.review .single-review .client-details .client-company {
  margin: 0;
  color: #595959;
  font-size: 14px;
}

.download-app {
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
  background-color: #f9f9f9;
}
.download-app .container .semi-title {
  margin-top: 10px;
  margin-bottom: 60px;
}
.download-app .container .semi-sub-title {
  margin-bottom: 60px;
  color: #535355;
  font-weight: 400;
}
.download-app .container .dwn-app-banner {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.download-app .container .dwn-app-banner img {
  width: 100%;
  max-width: 300px;
}
@media only screen and (max-width: 991.5px) {
  .download-app .container .dwn-app-banner {
    margin-top: 30px;
  }
}

.print-media {
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
}
.print-media .container .main-title {
  margin-bottom: 60px;
}
.print-media .container .print-media-carousel .item {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}
.print-media .container .print-media-carousel .item img {
  margin: 20px auto;
  width: 80px !important;
  height: 60px;
}

.partners {
  width: 100%;
  overflow: hidden;
  padding: 5vh 0;
}
.partners .container .main-title {
  margin-bottom: 60px;
}
.partners .container .partners-company .item {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
}
.partners .container .partners-company .item img {
  margin: 20px auto;
  width: 80px !important;
  height: 60px;
}

.counting {
  padding: 5vh 0;
}
.counting .container .counting-section {
  border-radius: 12px;
  background-color: #f1f2f7;
  padding: 30px 45px;
}
@media only screen and (max-width: 992px) {
  .counting .container .counting-section {
    padding: 10px 15px;
    text-align: center;
  }
}
@media only screen and (max-width: 575px) {
  .counting .container .counting-section {
    padding: 10px 15px;
  }
}
.counting .container .counting-section .counting-content {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .counting .container .counting-section .counting-content {
    flex-direction: column;
  }
}
.counting .container .counting-section .counting-content img {
  margin: auto;
  width: 60px;
}
.counting .container .counting-section .counting-content p {
  margin: 0;
  font-size: 18px;
  color: #282828;
  margin-top: 5px;
}
@media only screen and (max-width: 992px) {
  .counting .container .counting-section .counting-content p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  .counting .container .counting-section .counting-content p {
    font-size: 13px;
  }
}
.counting .container .counting-section .counting-content h3 {
  margin: 0;
  font-size: 32px;
  color: #282828;
}
@media only screen and (max-width: 992px) {
  .counting .container .counting-section .counting-content h3 {
    margin-top: 10px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .counting .container .counting-section .counting-content h3 {
    font-size: 16px;
  }
}

.newsletter {
  width: 100%;
  overflow: hidden;
}
.newsletter .container {
  text-align: center;
  background: url(./assets/images/svg/bookPen.svg) 10% 8% no-repeat, url(./assets/images/svg/smallPlane.svg) 10% 100% no-repeat, url(./assets/images/svg/letter.svg) 90% 110% no-repeat;
  background-size: 60px, 80px, 120px;
}
.newsletter .container div {
  padding: 12vh 0;
}
.newsletter .container div h1 {
  padding-top: 20px;
}
.newsletter .container div form {
  padding-bottom: 20px;
}
.newsletter .container div form input {
  border: 1px solid #3a3868;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  color: #707070;
  margin: 45px auto 30px auto;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 2px;
  display: block;
}
.newsletter .container div form input:focus {
  outline: none;
}
.newsletter .container div form input::placeholder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  padding: 30px 0;
  background: #1b1e2e;
  color: #bebebe;
}
footer .footer-app-link {
  margin-top: 20px;
  display: flex;
}
footer .footer-app-link img {
  width: 120px;
  height: 40px;
  margin-right: 10px;
}
footer .footer-content {
  font-size: 15px;
  color: #bebebe;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
}
footer .footer-header {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
}
footer .footer-links a {
  font-size: 15px;
  font-weight: 400;
  color: #bebebe;
  display: block;
}
footer .footer-social {
  margin-top: 5px;
}
footer .footer-social a {
  margin-right: 4px;
}
footer .footer-social a svg {
  width: 32px;
}
footer .footer-copyright {
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}

.scroll-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 2;
  border: none;
  background: none;
  outline: none !important;
}

.authentication-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.authentication-form .container {
  position: relative;
}
.authentication-form .container .logo {
  width: max-content;
  margin: auto;
}
.authentication-form .container form {
  margin: 30px auto;
  padding: 10vh;
  background: #f9f9f9;
  width: 100%;
  max-width: 550px;
  min-width: 360px;
  border-radius: 10px;
  text-align: center;
}
.authentication-form .container form button {
  margin-top: 30px;
}
@media only screen and (max-width: 575.5px) {
  .authentication-form .container form {
    padding: 5vh;
  }
}

.login .content-image {
  bottom: -180px;
  right: 50px;
}

.registration .input-group-prepend img {
  border-radius: 3px;
  margin-right: 5px;
}
.registration .content-image {
  bottom: -150px;
  left: 0;
  padding-bottom: 30px;
}
.registration .content-image img {
  width: 95%;
}

.reset-password .content-image {
  padding-bottom: 30px;
  bottom: -180px;
  right: 50px;
}
.reset-password form h6 {
  font-size: 15px;
  line-height: 28px;
  font-weight: 600px;
  color: dark-59-color;
  text-align: left;
  margin-bottom: 15px;
}
.reset-password form small {
  display: block;
  font-weight: 600px;
  color: dark-59-color;
  text-align: left;
  margin-bottom: 30px;
}

.reset-password-pin .content-image {
  padding-bottom: 30px;
  bottom: -180px;
  right: 50px;
}
.reset-password-pin form h6 {
  font-size: 15px;
  line-height: 28px;
  font-weight: 600px;
  color: dark-59-color;
  text-align: left;
  margin-bottom: 30px;
}

.save-password .content-image {
  padding-bottom: 30px;
  bottom: -180px;
  right: 50px;
}

.remember-forgot {
  color: #595959;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember-forgot div {
  display: flex;
  align-items: center;
}
.remember-forgot div input {
  margin-right: 5px;
  appearance: initial;
  width: 15px;
  height: 15px;
  background: none;
  border: 1px solid #ff6600;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}
.remember-forgot div input:checked {
  background: #f9f9f9;
}
.remember-forgot div input:checked::after {
  font-family: FontAwesome;
  content: "";
  font-size: 10px;
  color: #ff6600;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.remember-forgot a {
  text-decoration: none;
  color: #595959;
  font-weight: 15px;
  margin: 0;
  padding: 0;
}

.content-header {
  background: url(assets/images/content-bg.webp);
  background-size: cover;
  background-position: center;
  max-height: 40vh;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3a3868;
}
@media only screen and (max-width: 575.5px) {
  .content-header {
    height: 200px;
  }
}
.content-header h1 {
  font-size: 50px;
  font-weight: bold;
}
@media only screen and (max-width: 767.5px) {
  .content-header h1 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575.5px) {
  .content-header h1 {
    font-size: 25px;
  }
}
.content-header a {
  color: #595959;
  text-decoration: none;
}

.contact {
  margin: 60px 0;
}
.contact .container .row {
  align-items: center;
}
.contact .container form {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 60px 30px;
  margin-bottom: 30px;
}
.contact .container form .input-group-prepend img {
  border-radius: 3px;
  margin-right: 5px;
}
.contact .container form button {
  display: block;
  margin: auto;
  margin-top: 30px;
}
.contact .container .contact-support {
  margin-bottom: 30px;
}
.contact .container .contact-support .support-option .default-btn {
  display: block;
  height: 60px;
  margin: 30px 50px;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .container .contact-support .support-option .default-btn svg {
  margin-right: 10px;
}
.contact .container .contact-support .contact-social-icon {
  text-align: center;
}
.contact .container .contact-support .contact-social-icon img {
  margin: 15px;
}
.contact .container .location-information {
  margin: auto;
  width: max-content;
  margin-bottom: 30px;
}
.contact .container .location-information .logo {
  margin-bottom: 30px;
}
.contact .container .location-information h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  color: #282828;
}
.contact .container .location-information h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #282828;
}
.contact .container .location-information p {
  font-size: 15px;
  font-weight: lighter;
  line-height: 28px;
  color: #282828;
  margin: 0;
}
.contact .container .location-map iframe {
  border-radius: 10px;
  width: 100%;
  height: 350px;
}

.faqs {
  margin: 90px 0;
}
@media only screen and (max-width: 991.5px) {
  .faqs {
    margin: 60px 0;
  }
}
@media only screen and (max-width: 575.5px) {
  .faqs {
    margin: 30px 0;
  }
}
.faqs .container .faqs-menu h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 45px;
  color: #282828;
  padding-left: 30px;
}
.faqs .container .faqs-menu .faqs-menu-link {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 5px 10px #dfdfdf;
}
@media only screen and (max-width: 991.5px) {
  .faqs .container .faqs-menu .faqs-menu-link {
    text-align: center;
    background: #ff6600;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: none;
  }
}
@media only screen and (max-width: 767.5px) {
  .faqs .container .faqs-menu .faqs-menu-link {
    padding: 10px 10px;
  }
}
@media only screen and (max-width: 575.5px) {
  .faqs .container .faqs-menu .faqs-menu-link {
    padding: 10px 5px;
  }
}
.faqs .container .faqs-menu .faqs-menu-link .active {
  color: #ff6600;
}
.faqs .container .faqs-menu .faqs-menu-link a {
  font-size: 18px;
  line-height: 20px;
  color: #595959;
  display: block;
  text-decoration: none;
  outline: none;
  margin-bottom: 15px;
}
@media only screen and (max-width: 991.5px) {
  .faqs .container .faqs-menu .faqs-menu-link a {
    color: #ffffff !important;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 575.5px) {
  .faqs .container .faqs-menu .faqs-menu-link a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 991.5px) {
  .faqs .container .faqs-menu {
    margin-bottom: 30px;
  }
  .faqs .container .faqs-menu h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    width: max-content;
    margin: auto;
    margin-bottom: 30px;
    color: #282828;
  }
}
.faqs .container .faqs-details h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 45px;
  color: #282828;
}
.faqs .container .faqs-details .faq-content {
  display: none;
}
.faqs .container .faqs-details .faq-content .faq-details .expanded-details h6 {
  font-size: 18px;
  line-height: 25px;
  color: #595959;
}
.faqs .container .faqs-details .faq-content.active {
  display: block;
}

.eligibility .container {
  max-width: 700px;
}
.eligibility .container form {
  margin: 60px 0;
}
.eligibility .container form .eligibility-details {
  margin-bottom: 30px;
}
.eligibility .container form .eligibility-details .eligibility-content a {
  text-decoration: none;
}
.eligibility .container form .eligibility-details .eligibility-content .eligibility-actions {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.eligibility .container form .eligibility-details .eligibility-content .input-group-text {
  width: 60px;
  padding: 0 25px;
  font-weight: bold;
  background: #3a3868;
  color: #ffffff;
  border: 1px solid #3a3868;
}
.eligibility .container form .eligibility-details .eligibility-content input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  height: 1px;
  padding: 0;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background: #3a3868;
  margin-top: 20px;
}
.eligibility .container form .eligibility-details .eligibility-content input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  border: 1px solid #3a3868;
  box-shadow: 0 5px 2px #dfdfdf;
}
.eligibility .container form .eligibility-details.active .eligibility-content {
  margin-top: 30px !important;
}
.eligibility .container form .eligibility-details.active .input-area {
  margin-bottom: 30px !important;
}
.eligibility .container form .eligibility-details.active .input-check-radio {
  margin-bottom: 20px !important;
}

.profile-edit .container {
  box-shadow: 0 5px 20px #dfdfdf;
  border-radius: 10px;
  margin: 30px auto;
}
.profile-edit .container form {
  margin: 60px 0;
}
.profile-edit .container form .contact-info .input-area textarea {
  height: 103px;
}
.profile-edit .container form .service-info .input-area textarea {
  height: 135px;
}
.profile-edit .container form .edit-details {
  margin-bottom: 30px;
  padding: 30px 20px;
}
.profile-edit .container form .edit-details h5 {
  color: #ff6600;
  margin-bottom: 20px;
}
.profile-edit .container form .edit-details .edit-actions {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.profile-edit .container form .edit-details .edit-content .photo {
  margin-top: 23px;
  width: 49%;
  display: inline-block;
}
@media only screen and (max-width: 991.5px) {
  .profile-edit .container form .edit-details .edit-content .photo {
    margin-top: 0px;
    margin-bottom: 15px;
    width: 100%;
  }
}
.profile-edit .container form .edit-details .edit-content .photo img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: auto;
}
.profile-edit .container form .edit-details .edit-content .photo button {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  background: none;
  border: none;
  border: 1px solid #595959;
  color: #595959;
  font-weight: lighter;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}
.profile-edit .container form .edit-details .edit-content .photo button:hover {
  border: 1px solid #ff6600;
  color: #ff6600;
}
.profile-edit .container form .edit-details .edit-content .photo input {
  display: none;
}
.profile-edit .container form .edit-details .edit-content .input-group-prepend img {
  margin-right: 5px;
}
.profile-edit .container form .edit-details .edit-content a {
  text-decoration: none;
}
.profile-edit .container form .edit-details .edit-content .reference {
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 10px;
}
.profile-edit .container form .edit-details .edit-content .reference h3 {
  margin-bottom: 20px;
}

.profile-information {
  padding: 5vh 0;
  position: relative;
}
.profile-information .profile-header {
  border-radius: 12px;
  border: 1px solid #dfdfdf;
  background: #f9f9f9;
  padding: 0 20px;
  padding-top: 30px;
}
.profile-information .profile-header .profile-details .user-image {
  border-radius: 50%;
  position: relative;
}
.profile-information .profile-header .profile-details .user-image img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.profile-information .profile-header .profile-details .user-image .dp {
  border: 1px solid #dfdfdf;
}
.profile-information .profile-header .profile-details .user-image:hover .plus {
  display: none;
}
.profile-information .profile-header .profile-details .user-image:hover .change-photo {
  display: flex;
}
.profile-information .profile-header .profile-details .user-image .change-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #00000080;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
}
.profile-information .profile-header .profile-details .user-image .change-photo input {
  display: none;
}
.profile-information .profile-header .profile-details .user-image .change-photo label {
  text-align: center;
}
.profile-information .profile-header .profile-details .user-image .change-photo label span {
  display: block;
}
.profile-information .profile-header .profile-details .user-image .plus {
  position: absolute;
  right: 6px;
  bottom: 6px;
  background: #ffffff;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-information .profile-header .profile-details .user-image .plus img {
  width: 50%;
  height: 50%;
  margin: 0;
}
.profile-information .profile-header .profile-details .user-name {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
}
.profile-information .profile-header .profile-details .apply-salary-btn {
  width: 100%;
  height: 48px;
  background: #ff6600;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
  padding: 0 60px;
}
.profile-information .profile-header .user-other-info {
  text-align: right;
}
.profile-information .profile-header .user-other-info p {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.profile-information .profile-header .user-other-info .user-name {
  display: none;
}
.profile-information .profile-header .profile-tab {
  margin-top: 20px;
  height: 52px;
  border-top: 1px solid #ebebeb;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
.profile-information .profile-header .profile-tab ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-information .profile-header .profile-tab ul li {
  list-style: none;
}
.profile-information .profile-header .profile-tab ul li a {
  font-size: 16px;
  color: #595959;
  padding-bottom: 15px;
  text-decoration: none;
  font-weight: 500;
}
.profile-information .profile-header .profile-tab ul li a.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}
.profile-information .profile-header .small-profile-tab {
  display: none;
  border-top: 1px solid #ebebeb;
  margin: 15px 0;
}
.profile-information .profile-header .small-profile-tab select {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  color: #ff6600;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(./assets/images/profile/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.profile-information .profile-header .small-profile-tab select option {
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .profile-information .profile-header .profile-details .user-name {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .profile-information .profile-header .profile-details .apply-salary-btn {
    height: 36px;
    padding: 0 20px;
  }
  .profile-information .profile-header .user-other-info p {
    font-size: 14px;
  }
  .profile-information .profile-header .profile-tab {
    margin-top: 20px;
    height: 52px;
    border-top: 1px solid #ebebeb;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  .profile-information .profile-header .profile-tab ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .profile-information .profile-header .profile-tab ul li {
    list-style: none;
  }
  .profile-information .profile-header .profile-tab ul li a {
    font-size: 14px;
    color: #595959;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: 500;
  }
  .profile-information .profile-header .profile-tab ul li a.active {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
}
@media only screen and (max-width: 575px) {
  .profile-information .profile-header .profile-tab {
    display: none;
  }
  .profile-information .profile-header .profile-action {
    display: none;
  }
  .profile-information .profile-header .small-profile-tab {
    display: block;
  }
  .profile-information .profile-header .user-other-info {
    text-align: right;
  }
  .profile-information .profile-header .user-other-info p {
    font-size: 12px;
  }
  .profile-information .profile-header .user-other-info .user-name {
    display: block;
    font-weight: 500;
    font-size: 16px;
  }
}
.profile-information .profile-error-fill-message {
  margin: 3vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff3f5;
  border: 1px solid #ff9f9f;
  border-radius: 12px;
  padding: 15px;
}
.profile-information .profile-error-fill-message .error-info {
  display: flex;
  align-items: center;
}
.profile-information .profile-error-fill-message .error-info .fill-error-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 15px;
}
.profile-information .profile-error-fill-message .error-info p {
  color: #000000;
  font-size: 18px;
  margin: 0;
}
.profile-information .profile-error-fill-message .profile-update {
  height: 45px;
  background: #00d59b;
  color: #ffffff;
  border-radius: 8px;
  outline: none;
  padding: 0 20px;
  border: none;
}
.profile-information .profile-success-fill-message {
  margin: 3vh 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e2fff8;
  border: 1px solid #54ffcb;
  border-radius: 12px;
  padding: 15px;
}
.profile-information .profile-success-fill-message .success-info {
  display: flex;
  align-items: center;
}
.profile-information .profile-success-fill-message .success-info .fill-success-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 15px;
}
.profile-information .profile-success-fill-message .success-info p {
  color: #000000;
  font-size: 18px;
  margin: 0;
}
.profile-information .profile-info {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 30px 20px;
}
.profile-information .profile-info .edit-profile-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.profile-information .profile-info .edit-profile-btn a {
  outline: none;
}
.profile-information .profile-info .edit-profile-btn button {
  background: #f4f8f9;
  border: none;
  color: #3481ff;
  border-radius: 8px;
  padding: 6px 20px;
  outline: none;
}
.profile-information .profile-info .profile-single-info {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.profile-information .profile-info .profile-single-info .info-details {
  font-size: 18px;
  color: #000000;
  margin: 0;
}
.profile-information .profile-info .profile-single-info .info-title {
  color: #707070;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
}
.profile-information .profile-info .profile-single-info .info-image {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .profile-information .profile-info .profile-single-info {
    border-bottom: 1px solid #ececec;
  }
}
.profile-information .small-apply-salary-btn {
  display: none;
  position: sticky;
  bottom: 5px;
  width: 95%;
  margin: 10px auto;
  height: 48px;
  background: #ff6600;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
  padding: 0 60px;
}
@media only screen and (max-width: 767px) {
  .profile-information .profile-error-fill-message {
    margin: 3vh 0;
    padding: 15px;
  }
  .profile-information .profile-error-fill-message .error-info .fill-error-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  .profile-information .profile-error-fill-message .error-info p {
    font-size: 16px;
  }
  .profile-information .profile-error-fill-message .profile-update {
    background: #00d59b;
    color: #ffffff;
    border-radius: 8px;
    outline: none;
    padding: 0 10px;
    border: none;
  }
  .profile-information .profile-success-fill-message {
    margin: 3vh 0;
    padding: 15px;
  }
  .profile-information .profile-success-fill-message .success-info .fill-success-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  .profile-information .profile-success-fill-message .success-info p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .profile-information .profile-error-fill-message {
    margin: 3vh 0;
    padding: 15px;
  }
  .profile-information .profile-error-fill-message .error-info .fill-error-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  .profile-information .profile-error-fill-message .error-info p {
    font-size: 16px;
  }
  .profile-information .profile-error-fill-message .profile-update {
    white-space: nowrap;
  }
  .profile-information .small-apply-salary-btn {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  .profile-information .profile-error-fill-message {
    margin: 3vh 0;
    padding: 15px;
  }
  .profile-information .profile-error-fill-message .error-info .fill-error-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  .profile-information .profile-error-fill-message .error-info p {
    font-size: 14px;
  }
  .profile-information .profile-error-fill-message .profile-update {
    height: 35px;
    padding: 0 5px;
    font-size: 14px;
    white-space: nowrap;
  }
  .profile-information .profile-success-fill-message {
    margin: 3vh 0;
    padding: 15px;
  }
  .profile-information .profile-success-fill-message .success-info .fill-success-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
  }
  .profile-information .profile-success-fill-message .success-info p {
    font-size: 14px;
  }
}

.profile .container .user-profile {
  margin: 45px 0;
  box-shadow: 0 5px 20px #dfdfdf;
  border-radius: 10px;
}
.profile .container .user-profile .profile-header {
  background: url(assets/images/profile-header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  padding: 30px;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.profile .container .user-profile .profile-header .profile-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .container .user-profile .profile-header .profile-status h2 {
  font-weight: bold;
  color: #3a3868;
}
@media only screen and (max-width: 575.5px) {
  .profile .container .user-profile .profile-header .profile-status h2 {
    font-size: 18px;
  }
}
.profile .container .user-profile .profile-header .profile-status h2 span {
  display: block;
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}
@media only screen and (max-width: 575.5px) {
  .profile .container .user-profile .profile-header .profile-status h2 span {
    margin-top: 5px;
  }
}
.profile .container .user-profile .profile-header .profile-status img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
@media only screen and (max-width: 767.5px) {
  .profile .container .user-profile .profile-header .profile-status img {
    width: 100px;
    height: 100px;
  }
}
.profile .container .user-profile .profile-header .profile-nav {
  width: max-content;
  margin: auto;
  margin-top: 15px;
}
.profile .container .user-profile .profile-header .profile-nav span {
  margin: 0 5px;
  cursor: pointer;
  font-weight: 600;
  color: #595959;
  font-size: 20px;
}
.profile .container .user-profile .profile-header .profile-nav span.active {
  padding: 0 5px;
  border-bottom: 2px solid #ff6600;
  transition: 0.05s;
  background: #f47f2010;
}
@media only screen and (max-width: 575.5px) {
  .profile .container .user-profile .profile-header .profile-nav span.active {
    padding: 0 1px;
    border-bottom: 1px solid #ff6600;
  }
}
.profile .container .user-profile .profile-header .profile-nav span:hover {
  padding: 0 5px;
  border-bottom: 2px solid #ff6600;
  transition: 0.05s;
  background: #f47f2010;
}
@media only screen and (max-width: 575.5px) {
  .profile .container .user-profile .profile-header .profile-nav span:hover {
    padding: 0 1px;
    border-bottom: 1px solid #ff6600;
  }
}
@media only screen and (max-width: 767.5px) {
  .profile .container .user-profile .profile-header .profile-nav span {
    margin: 0 3px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 575.5px) {
  .profile .container .user-profile .profile-header .profile-nav span {
    margin: 0 1px;
    font-size: 10px;
  }
}
.profile .container .user-profile .personal-info .profile-images {
  margin-top: 70px;
}
@media only screen and (max-width: 991.5px) {
  .profile .container .user-profile .personal-info .profile-images {
    margin-top: 30px;
  }
}
.profile .container .user-profile .profile-content {
  display: none;
  padding: 15px 30px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #dfdfdf;
  border-top: none;
}
.profile .container .user-profile .profile-content h3 {
  width: max-content;
  margin: auto;
  color: #595959;
  margin-bottom: 30px;
}
.profile .container .user-profile .profile-content h4 {
  width: max-content;
  margin: auto;
  color: #595959;
  margin: 30px 0;
}
.profile .container .user-profile .profile-content a img {
  width: 20px;
  height: 15px;
}
.profile .container .user-profile .profile-content .profile-data {
  margin-bottom: 20px;
  padding: 15px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.profile .container .user-profile .profile-content .profile-data h4 {
  margin: 0;
  color: #3a3868;
  margin-top: 5px;
  font-weight: 400;
  width: 100%;
}
.profile .container .user-profile .profile-content .profile-data h5 {
  color: #595959;
  margin: 0;
  border-radius: 5px;
  font-weight: 600;
}
.profile .container .user-profile .profile-content .refer-by {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #dfdfdf;
  border-radius: 10px;
  padding: 15px 10px;
}
.profile .container .user-profile .profile-content .refer-by h3 {
  margin: 0;
  margin-left: 10px;
}
.profile .container .user-profile .profile-content .refer-by .profile-deta h4 {
  margin: 0;
  color: #3a3868;
  margin-top: 5px;
  font-weight: 400;
}
.profile .container .user-profile .profile-content .refer-by .profile-deta h5 {
  color: #595959;
  margin: 0;
  border-radius: 5px;
  font-weight: 600;
}
.profile .container .user-profile .profile-content .account-info {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #dfdfdf;
  border-radius: 10px;
  padding: 15px 10px;
}
.profile .container .user-profile .profile-content .account-info h3 {
  margin: 0;
  margin-left: 10px;
}
.profile .container .user-profile .profile-content .account-info .input-area {
  margin-top: 30px;
  padding-left: 10px;
}
.profile .container .user-profile .profile-content .account-info .input-area h5 {
  color: #595959;
  margin: 0;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 10px;
}
.profile .container .user-profile .profile-content .account-info .profile-deta h4 {
  margin: 0;
  color: #3a3868;
  margin-top: 5px;
  font-weight: 400;
}
.profile .container .user-profile .profile-content .account-info .profile-deta h5 {
  color: #595959;
  margin: 0;
  border-radius: 5px;
  font-weight: 600;
}
.profile .container .user-profile .profile-content .profile-images {
  margin-bottom: 20px;
}
.profile .container .user-profile .profile-content .profile-images .profile-image {
  width: max-content;
  margin: auto;
  text-align: center;
  width: 49%;
  display: inline-block;
}
.profile .container .user-profile .profile-content .profile-images .profile-image h5 {
  color: #595959;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}
.profile .container .user-profile .profile-content .profile-images .profile-image img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.profile .container .user-profile .personal-info {
  display: block;
}
.profile .container .user-profile .contact-info,
.profile .container .user-profile .service-info,
.profile .container .user-profile .reference-info {
  display: none;
}

.applications .container .application-table {
  margin: 60px 0;
  overflow-x: auto;
}
.applications .container .application-table table {
  width: 100%;
  min-width: 600px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
}
.applications .container .application-table table tr {
  width: 100%;
}
.applications .container .application-table table tr td,
.applications .container .application-table table tr th {
  padding: 10px 20px;
  width: 50%;
  min-width: 300px;
}
.applications .container .application-table table tr td:nth-child(2),
.applications .container .application-table table tr th:nth-child(2) {
  width: 30%;
  min-width: 200px;
}
.applications .container .application-table table tr td:nth-child(3),
.applications .container .application-table table tr th:nth-child(3) {
  width: 20%;
  min-width: 200px;
}
.applications .container .application-table table tr .application-service {
  padding: 20px;
}
.applications .container .application-table table tr .application-service p {
  color: #595959;
  margin: 0;
}
.applications .container .application-table table tr .referral-code {
  color: #595959;
  margin: 0;
}

.application-status {
  margin: 60px 0;
}
.application-status .container .status {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}
.application-status .container .status .icons {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}
.application-status .container .status .icons .icon {
  background: #f27e2080;
  border-radius: 100%;
  box-shadow: 0 5px 5px #dfdfdf;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.application-status .container .status .icons:nth-child(1) .icon-status {
  bottom: -60px;
  width: max-content;
  left: 50%;
  transform: translate(0%);
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(1) .icon-status {
    bottom: -45px !important;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(1) .icon-status {
    bottom: -40px !important;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(1) .icon-status {
    bottom: -35px !important;
  }
}
.application-status .container .status .icons:nth-child(2) .icon-status {
  bottom: -60px;
  width: max-content;
  left: 50%;
  transform: translate(0%);
  width: 410px;
  bottom: -80px !important;
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(2) .icon-status {
    bottom: -70px !important;
    width: 360px;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(2) .icon-status {
    bottom: -60px !important;
    width: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(2) .icon-status {
    bottom: -50px !important;
    width: 270px;
  }
}
.application-status .container .status .icons:nth-child(3) .icon-status {
  bottom: -60px;
  width: max-content;
  left: 50%;
  transform: translate(0%);
  bottom: -80px !important;
  width: 330px;
}
@media only screen and (max-width: 991.5px) {
  .application-status .container .status .icons:nth-child(3) .icon-status {
    bottom: -80px !important;
    width: 330px;
  }
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(3) .icon-status {
    bottom: -65px !important;
    width: 290px;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(3) .icon-status {
    bottom: -60px !important;
    width: 255px;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(3) .icon-status {
    bottom: -50px !important;
    width: 225px;
  }
}
.application-status .container .status .icons:nth-child(4) .icon-status {
  bottom: -60px;
  width: max-content;
  left: 50%;
  transform: translate(0%);
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(4) .icon-status {
    bottom: -40px !important;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(4) .icon-status {
    bottom: -40px !important;
    width: 180px;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(4) .icon-status {
    bottom: -40px !important;
    width: 165px;
  }
}
.application-status .container .status .icons:nth-child(5) .icon-status {
  bottom: -60px;
  width: max-content;
  right: 50%;
  transform: translate(0%);
  bottom: -85px !important;
  width: 330px;
}
@media only screen and (max-width: 991.5px) {
  .application-status .container .status .icons:nth-child(5) .icon-status {
    bottom: -85px !important;
    width: 330px;
  }
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(5) .icon-status {
    bottom: -65px !important;
    width: 285px;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(5) .icon-status {
    bottom: -55px !important;
    width: 245px;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(5) .icon-status {
    bottom: -50px !important;
    width: 220px;
  }
}
.application-status .container .status .icons:nth-child(6) .icon-status {
  bottom: -60px;
  width: max-content;
  right: 50%;
  transform: translate(0%);
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(6) .icon-status {
    bottom: -45px !important;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(6) .icon-status {
    bottom: -40px !important;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(6) .icon-status {
    bottom: -35px !important;
  }
}
.application-status .container .status .icons:nth-child(7) .icon-status {
  bottom: -60px;
  width: max-content;
  right: 50%;
  transform: translate(0%);
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons:nth-child(7) .icon-status {
    bottom: -45px !important;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons:nth-child(7) .icon-status {
    bottom: -40px !important;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons:nth-child(7) .icon-status {
    bottom: -35px !important;
  }
}
.application-status .container .status .icons .icon-status {
  background: #f9f9f9;
  color: #3a3868;
  border-radius: 5px;
  padding: 10px 10px;
  display: none;
  box-shadow: 0 5px 5px #dfdfdf;
  position: absolute;
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons .icon-status {
    font-size: 14px;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons .icon-status {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons .icon-status {
    font-size: 10px;
    padding: 5px 10px;
  }
}
.application-status .container .status .icons .icon-name {
  background: #3a3868;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: -45px !important;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: none;
  box-shadow: 0 5px 5px #dfdfdf;
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons .icon-name {
    top: -40px !important;
    font-size: 14px;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons .icon-name {
    top: -35px !important;
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons .icon-name {
    top: -30px !important;
    font-size: 10px;
    padding: 3px 5px;
  }
}
.application-status .container .status .icons.active .icon-name {
  display: inline-block;
}
.application-status .container .status .icons.active .icon-status {
  display: block;
}
.application-status .container .status .icons.active .icon {
  border-radius: 100% 100% 0% 100%;
  transform: rotate(45deg);
}
.application-status .container .status .icons.done .icon {
  background: #ff6600;
}
.application-status .container .status .icons.done .icon::before {
  font-family: FontAwesome;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.application-status .container .status .icons:nth-child(n) {
  margin-right: 25px;
}
.application-status .container .status .icons:nth-child(n):after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #dfdfdf;
  width: 20px;
  right: -25px;
  top: 50%;
}
.application-status .container .status .icons:nth-child(n):nth-last-child(1) {
  margin-right: 0px;
}
.application-status .container .status .icons:nth-child(n):nth-last-child(1):after {
  display: none;
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .status .icons {
    width: 40px;
    height: 40px;
  }
  .application-status .container .status .icons.done .icon::before {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 575.5px) {
  .application-status .container .status .icons {
    width: 30px;
    height: 30px;
  }
  .application-status .container .status .icons.done .icon::before {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 450px) {
  .application-status .container .status .icons {
    width: 24px;
    height: 24px;
  }
  .application-status .container .status .icons.done .icon::before {
    font-size: 8px !important;
  }
}
.application-status .container .application {
  margin: auto;
  margin-top: 60px;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px 10px;
}
.application-status .container .application h3 {
  color: #595959;
  font-size: 20px;
  font-weight: 600;
}
.application-status .container .application p {
  color: #595959;
  margin: 0;
  font-size: 15px;
}
.application-status .container .application button {
  margin-top: 30px;
}
@media only screen and (max-width: 991.5px) {
  .application-status .container .application {
    margin-top: 45px;
  }
}
@media only screen and (max-width: 767.5px) {
  .application-status .container .application {
    margin-top: 30px;
  }
  .application-status .container .application button {
    display: block;
    margin: auto;
    margin-top: 15px;
  }
  .application-status .container .application h3 {
    color: #595959;
    font-size: 20px;
    font-weight: 600;
  }
  .application-status .container .application p {
    font-size: 14px;
  }
}

.fees-instruction-payment {
  display: none;
  margin: 30px 0;
  margin-top: 60px;
}
.fees-instruction-payment .fees-instruction {
  box-shadow: 0 5px 20px #dfdfdf;
  border-radius: 10px;
  padding-top: 15px;
}
.fees-instruction-payment .fees-instruction h1 {
  width: max-content;
  margin: auto;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #595959;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .fees-instruction h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .fees-instruction h1 {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .fees-instruction h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.fees-instruction-payment .fees-instruction h2 {
  font-size: 22px;
  font-weight: 500;
  color: #595959;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .fees-instruction h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .fees-instruction h2 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .fees-instruction h2 {
    font-size: 18px;
  }
}
.fees-instruction-payment .fees-instruction h3 {
  color: #595959;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .fees-instruction h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .fees-instruction h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .fees-instruction h3 {
    font-size: 16px;
  }
}
.fees-instruction-payment .fees-instruction .mobile {
  border-radius: 10px 10px 0 0;
  background: #ffffff;
}
.fees-instruction-payment .fees-instruction .mobile .mobile-banking h3 {
  margin: 20px 0;
}
.fees-instruction-payment .fees-instruction .mobile .mobile-banking .mb-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.fees-instruction-payment .fees-instruction .mobile .mobile-banking .mb-images .mb-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fees-instruction-payment .fees-instruction .mobile .mobile-banking .mb-images .mb-content span {
  font-size: 14px;
  color: #595959;
}
.fees-instruction-payment .fees-instruction .mobile .mobile-banking .mb-images .mb-content img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .fees-instruction .mobile .mobile-banking .mb-images .mb-content span {
    font-size: 12px;
  }
  .fees-instruction-payment .fees-instruction .mobile .mobile-banking .mb-images .mb-content img {
    margin: 0 25px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
  }
}
.fees-instruction-payment .fees-instruction .bank {
  background: #f9f9f9;
  padding-bottom: 30px !important;
  padding-top: 30px;
  border-radius: 0 0 10px 10px;
}
.fees-instruction-payment .fees-instruction .bank .input-area select {
  width: 100%;
  max-width: 400px;
  border: 1px solid white;
  background: url(assets/images/svg/custom-select-bg.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-color: white;
  margin: 60px 0;
  box-shadow: 0 5px 5px #dfdfdf;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .fees-instruction .bank .bank-details {
    margin-bottom: 30px;
  }
}
.fees-instruction-payment .fees-instruction .bank .fees-instruction-btn {
  width: max-content;
  margin: auto;
}
.fees-instruction-payment .payment-confirmation {
  box-shadow: 0 5px 20px #dfdfdf;
  border-radius: 10px;
  padding-top: 15px;
  display: none;
}
.fees-instruction-payment .payment-confirmation h1 {
  width: max-content;
  margin: auto;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #595959;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .payment-confirmation h1 {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .payment-confirmation h1 {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .payment-confirmation h1 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.fees-instruction-payment .payment-confirmation h2 {
  font-size: 22px;
  font-weight: 500;
  color: #595959;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .payment-confirmation h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .payment-confirmation h2 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .payment-confirmation h2 {
    font-size: 18px;
  }
}
.fees-instruction-payment .payment-confirmation h3 {
  color: #595959;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 991.5px) {
  .fees-instruction-payment .payment-confirmation h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .payment-confirmation h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .payment-confirmation h3 {
    font-size: 16px;
  }
}
.fees-instruction-payment .payment-confirmation .select-method .switch-method {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.fees-instruction-payment .payment-confirmation .select-method .switch-method .switch-input {
  margin: 0 5px;
}
.fees-instruction-payment .payment-confirmation .select-method .switch-method .switch-input input {
  cursor: pointer;
}
.fees-instruction-payment .payment-confirmation .select-method .switch-method .switch-input label {
  cursor: pointer;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method {
  text-align: center;
  margin-bottom: 20px;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .mb-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .mb-images .mb-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .mb-images .mb-content span {
  font-size: 14px;
  color: #595959;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .mb-images .mb-content img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 575.5px) {
  .fees-instruction-payment .payment-confirmation .select-method .mobile-method .mb-images .mb-content span {
    font-size: 12px;
  }
  .fees-instruction-payment .payment-confirmation .select-method .mobile-method .mb-images .mb-content img {
    margin: 0 25px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
  }
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .operator-input label {
  margin-right: 10px;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method h6 {
  font-weight: bold;
  margin: 20px 0;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .input-area {
  display: inline-block;
  width: 30%;
  margin: 0 30px;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .input-area input {
  height: 40px;
}
.fees-instruction-payment .payment-confirmation .select-method .mobile-method .input-area label {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767.5px) {
  .fees-instruction-payment .payment-confirmation .select-method .mobile-method .input-area {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
.fees-instruction-payment .payment-confirmation .select-method .bank-method {
  display: none;
  margin: 30px 0;
}
.fees-instruction-payment .payment-confirmation .select-method .bank-method .photo {
  text-align: center;
  margin: auto;
}
.fees-instruction-payment .payment-confirmation .select-method .bank-method .photo img {
  margin: auto;
  width: 300px;
  display: block;
  margin-bottom: 20px;
}
.fees-instruction-payment .payment-confirmation .select-method .bank-method .photo input {
  display: none !important;
}
.fees-instruction-payment .payment-confirmation .payment-submit {
  background: #f9f9f9;
  padding-bottom: 30px;
  padding-top: 60px;
  border-radius: 0 0 10px 10px;
}
.fees-instruction-payment .payment-confirmation .payment-submit .fees-instruction-btn {
  width: max-content;
  margin: auto;
}
.fees-instruction-payment .payment-confirmation .payment-submit .fees-instruction-btn button:nth-child(2) {
  background: #3a3868;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.error .container .error-content {
  width: 100%;
  max-width: 550px;
  min-width: 360px;
  margin: auto;
}
.error .container .error-content svg {
  width: 150px;
  margin: auto;
  display: block;
}
.error .container .error-content .error-details {
  margin-top: 30px;
}
.error .container .error-content .error-details h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
.error .container .error-content .error-details h3 {
  font-weight: bold;
  margin-bottom: 20px;
}
.error .container .error-content .error-details p {
  color: #595959;
  line-height: 30px;
}
.error .container .error-content .error-details button {
  margin: 20px 0;
}

.modal-content .application-update {
  margin: 30px 0;
}
.modal-content .application-update h3 {
  margin: auto;
  width: max-content;
  color: #595959;
  font-size: 16px;
}
.modal-content .application-update button {
  margin: auto;
  margin-top: 30px;
  width: max-content;
  display: block;
}

.switch-input input[type=radio]:checked {
  width: 13px;
  height: 13px;
  -webkit-appearance: none;
  background: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 50%;
}

.operator-input input[type=radio]:checked {
  width: 13px;
  height: 13px;
  -webkit-appearance: none;
  background: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 50%;
}

.apply-application {
  margin: 30px 0;
}
.apply-application .container .apply {
  margin: auto;
  width: 100%;
  max-width: 550px;
  min-width: 360px;
  box-shadow: 0 5px 20px #dfdfdf;
  border-radius: 10px;
  padding: 30px;
}
.apply-application .container .apply h4 {
  color: #ff6600;
  margin-bottom: 30px;
}
.apply-application .container .apply button {
  display: block;
  margin: auto;
  margin-top: 30px;
}
.apply-application .container .apply .reference-info button {
  margin-top: 0px;
  height: 50px;
  background: none;
  border: 1px solid #595959;
  border-radius: 10px;
}
.apply-application .container .apply .reference-info .bootstrap-select .bs-ok-default::after {
  width: 0.3em;
  height: 0.6em;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg) translateY(0.5rem);
}
.apply-application .container .apply .reference-info .btn.dropdown-toggle {
  background: url(assets/images/svg/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
.apply-application .container .apply .reference-info .btn.dropdown-toggle .filter-option {
  position: relative;
  top: 15%;
}
.apply-application .container .apply .reference-info .btn.dropdown-toggle:after {
  content: "";
  border: 0;
}
.apply-application .container .apply .reference-info .btn.dropdown-toggle:focus {
  outline: none !important;
}
.apply-application .container .apply .input-area input[type=file] {
  padding: 0;
  appearance: none;
  position: relative;
}
.apply-application .container .apply .input-area input[type=file]::file-selector-button {
  height: 48px;
  border: none;
  width: 120px;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #595959;
}
.apply-application .container .apply .input-area p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}
.apply-application .container .apply .input-area .apply-title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 450px) {
  .apply-application .container .apply .input-area .apply-title {
    font-size: 18px;
  }
}
.apply-application .container .apply .switch-method input[type=radio]:checked {
  width: 13px;
  height: 13px;
  -webkit-appearance: none;
  background: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 50%;
}
.apply-application .container .apply .switch-method label {
  margin-right: 10px;
}
.apply-application .container .apply .mobile-method {
  margin: 15px 0;
}
.apply-application .container .apply .bank-method {
  display: none;
  margin: 15px 0;
}
.apply-application .container .apply .bank-method .input-area {
  width: 48%;
  display: inline-block;
}
@media only screen and (max-width: 575.5px) {
  .apply-application .container .apply .bank-method .input-area {
    width: 100%;
    display: block;
  }
}

.user-dashboard {
  margin: 60px 0;
}
.user-dashboard .container .dashboard .profile-header {
  background: url(assets/images/profile-header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}
.user-dashboard .container .dashboard .profile-header .profile-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-dashboard .container .dashboard .profile-header .profile-status h2 {
  font-weight: bold;
  color: #3a3868;
}
.user-dashboard .container .dashboard .profile-header .profile-status h2 a {
  text-decoration: none;
  color: #3a3868;
}
@media only screen and (max-width: 575.5px) {
  .user-dashboard .container .dashboard .profile-header .profile-status h2 {
    font-size: 18px;
  }
}
.user-dashboard .container .dashboard .profile-header .profile-status h2 span {
  display: block;
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
}
@media only screen and (max-width: 575.5px) {
  .user-dashboard .container .dashboard .profile-header .profile-status h2 span {
    margin-top: 5px;
  }
}
.user-dashboard .container .dashboard .profile-header .profile-status img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
@media only screen and (max-width: 767.5px) {
  .user-dashboard .container .dashboard .profile-header .profile-status img {
    width: 100px;
    height: 100px;
  }
}
.user-dashboard .container .dashboard .profile-header .profile-status .notify {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
.user-dashboard .container .dashboard .profile-header .profile-status .notify svg g path {
  fill: #282828;
}
.user-dashboard .container .dashboard .profile-header .profile-status .notify.active svg g path {
  fill: #ff6600;
}
.user-dashboard .container .dashboard .loan-time {
  box-shadow: 0 5px 20px #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  color: #595959;
  font-weight: 500;
  border-radius: 10px;
  margin: 20px 0;
  text-align: center;
}
.user-dashboard .container .dashboard .loan-time p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.user-dashboard .container .dashboard .loan-time p span {
  font-weight: 600;
  color: #595959;
}
.user-dashboard .container .dashboard .loan-time .divider {
  border: 1px solid #dfdfdf;
  height: 70px;
}
.user-dashboard .container .dashboard .refer-id {
  background: url(assets/images/profile-header-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 48px;
  margin: 20px 0;
  box-shadow: 0 5px 20px #dfdfdf;
}
@media only screen and (max-width: 991.5px) {
  .user-dashboard .container .dashboard .refer-id {
    margin-top: 20px;
  }
}
.user-dashboard .container .dashboard .refer-id h3 {
  color: #3a3868;
  width: max-content;
  margin: auto;
  font-weight: bold;
}
.user-dashboard .container .dashboard .refer-id a {
  color: #3a3868;
  text-decoration: none;
}
.user-dashboard .container .dashboard .user-dashboard-banner {
  background: url(assets/images/svg/dashboardBanner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 20vh;
  min-height: 200px;
  margin: 30px 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 20px #dfdfdf;
}
.user-dashboard .container .dashboard .user-dashboard-banner .banner-content h2 {
  color: #ff6600;
}
.user-dashboard .container .dashboard .user-dashboard-banner .banner-content h6 {
  color: #3a3868;
  text-align: center;
}
.user-dashboard .container .dashboard .user-dashboard-status {
  padding: 20px 20px;
  box-shadow: 0 5px 15px #dfdfdf;
  border-radius: 10px;
}
.user-dashboard .container .dashboard .user-dashboard-status h4 {
  color: #595959;
  margin-bottom: 20px;
}
.user-dashboard .container .dashboard .user-dashboard-status .user-dashboard-status-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  margin: 20px 0;
}
.user-dashboard .container .dashboard .user-dashboard-status .user-dashboard-status-single * {
  padding: 0;
  margin: 0;
}
.user-dashboard .container .dashboard .user-dashboard-status .user-dashboard-status-single h4 {
  color: #282828;
}
.user-dashboard .container .dashboard .user-dashboard-status button {
  display: block;
  width: max-content;
  margin: 20px auto;
  margin-top: 30px;
}
.user-dashboard .container .dashboard .user-dashboard-status a {
  text-decoration: none;
}
.user-dashboard .container .dashboard .lg-break {
  display: none;
}
@media only screen and (max-width: 991.5px) {
  .user-dashboard .container .dashboard .lg-break {
    display: block;
    height: 30px;
  }
}

.b2b-dashboard-navbar {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  color: white;
  padding: 8px 10px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
}
.b2b-dashboard-navbar .logo {
  display: flex;
  align-items: center;
}
.b2b-dashboard-navbar .logo img {
  max-height: 50px;
  width: 230px;
}
.b2b-dashboard-navbar .logo .dashboard-menu {
  border: none;
  background: none;
  outline: none !important;
  padding-left: 15px;
}
.b2b-dashboard-navbar .logo .dashboard-menu span {
  border: 1px solid #3a3868;
  background-color: #3a3868;
  width: 30px;
  height: 0px;
  font-size: 15px;
  margin: 0;
  display: block;
}
.b2b-dashboard-navbar .logo .dashboard-menu span:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.b2b-dashboard-navbar .dash-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 61px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.3s;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links {
  margin: 30px 20px;
  margin-right: 0;
  white-space: nowrap;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links a {
  color: #7e94af;
  font-weight: bold;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0;
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links a span {
  margin-left: 10px;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links a.active {
  color: #ff6600;
  background: #f5f5f5;
  border-right: 5px solid #ff6600;
  border-radius: 25px 0 0 25px;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links a.active svg path {
  stroke: #ff6600;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links a:hover {
  color: #ff6600;
  background: #f5f5f5;
  border-right: 5px solid #ff6600;
  border-radius: 25px 0 0 25px;
}
.b2b-dashboard-navbar .dash-nav .side-menu-links a:hover svg path {
  stroke: #ff6600;
}

.b2b-dashboard {
  background: #f5f6f8;
  padding: 40px 40px;
  min-height: 100vh;
}
.b2b-dashboard .b2b-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.b2b-dashboard .b2b-info p {
  color: #8a8a8a;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 500;
}
.b2b-dashboard .b2b-info h2 {
  font-weight: 700;
  font-size: 24px;
  color: #494949;
  margin: 0;
  padding: 0;
}
.b2b-dashboard .b2b-info.active {
  background: #ff6600;
}
.b2b-dashboard .b2b-info.active p {
  color: #ffffff;
}
.b2b-dashboard .b2b-info.active h2 {
  color: #ffffff;
}
.b2b-dashboard .b2b-dashboard-employee {
  background-color: white;
  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 10px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebeff2;
  padding: 0 10px;
  padding-bottom: 10px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic p {
  margin: 0;
  color: #334d6e;
  font-weight: 500;
  font-size: 16px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic .b2b-content-action {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic .b2b-content-action .b2b-add-new {
  border: none;
  background: #f47f202a;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  color: #ff6600;
  outline: none;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic .b2b-content-action .b2b-select {
  background: #f9f9f9;
  border-radius: 4px;
  padding: 8px 10px;
  color: #6a707e;
  font-size: 12px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic .b2b-content-action .b2b-select select {
  border: none;
  background: none;
  appearance: none;
  width: 50px;
  color: #ff6600;
  background: url(assets/images/svg/b2b-custom-input-bg.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  outline: none;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic .b2b-content-action input[type=search] {
  border-radius: 4px;
  padding: 4px 10px;
  background: url(assets/images/svg/b2b-custom-search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  outline: none;
  border: none;
  background-color: #f9f9f9;
  border: 1px solid #d3d8dd;
  box-sizing: border-box;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-dashboard-topic .b2b-content-action input[type=search]::placeholder {
  color: #90a0b7;
  font-size: 12px;
  padding-left: 30px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees {
  margin: 15px 0;
  padding: 10px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: #ffffff;
  padding: 15px 5px;
  overflow: hidden;
  height: 50px;
  margin-bottom: 15px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee * {
  padding: 0;
  margin: 0;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .user {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .user img {
  border-radius: 50%;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .transaction {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .id {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .designation {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .join-date {
  font-size: 13px;
  color: #4c5862;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .details-toggle {
  cursor: pointer;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .details-toggle .hide-det {
  display: none;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee .details-toggle .show-det {
  display: block;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee-details {
  margin: 10px;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details .single-employee-details p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details.active {
  height: max-content;
  background: #f47f2010;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details.active .details-toggle .show-det {
  display: none;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .employee-details.active .details-toggle .hide-det {
  display: block;
}
.b2b-dashboard .b2b-dashboard-employee .b2b-employees .b2b-show-more {
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 30px;
  background: none;
  border: none;
  outline: none;
  color: #ff6600;
}
.b2b-dashboard .b2b-dashboard-dept {
  background-color: white;
  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 10px;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-dashboard-topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebeff2;
  padding: 0 10px;
  padding-bottom: 10px;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-dashboard-topic p {
  margin: 0;
  color: #334d6e;
  font-weight: 500;
  font-size: 16px;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-dashboard-topic .b2b-content-action .b2b-add-new {
  border: none;
  background: #f47f202a;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
  color: #ff6600;
  outline: none;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-dashboard-topic .b2b-content-action input[type=search] {
  width: 120px;
  border-radius: 4px;
  padding: 4px 10px;
  background: url(assets/images/svg/b2b-custom-search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  outline: none;
  border: none;
  background-color: #f9f9f9;
  border: 1px solid #d3d8dd;
  box-sizing: border-box;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-dashboard-topic .b2b-content-action input[type=search]::placeholder {
  color: #90a0b7;
  font-size: 12px;
  padding-left: 30px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments {
  margin: 5px 0;
  padding: 10px;
  padding-bottom: 0;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background: #ffffff;
  padding: 15px 5px;
  overflow: hidden;
  height: 50px;
  margin-bottom: 15px;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department * {
  padding: 0;
  margin: 0;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department .dept {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department .dept img {
  border-radius: 50%;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department .info {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department .details-toggle {
  cursor: pointer;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department .details-toggle .hide-det {
  display: none;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-department .details-toggle .show-det {
  display: block;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-dept-details {
  margin: 10px;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details .single-dept-details p {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details.active {
  height: max-content;
  background: #f47f2010;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details.active .details-toggle .show-det {
  display: none;
}
.b2b-dashboard .b2b-dashboard-dept .b2b-departments .department-details.active .details-toggle .hide-det {
  display: block;
}
.b2b-dashboard .b2b-salary-graph {
  background-color: white;
  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 10px;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebeff2;
  padding: 0 10px;
  padding-bottom: 10px;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic p {
  margin: 0;
  color: #334d6e;
  font-weight: 500;
  font-size: 16px;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic .b2b-content-action {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic .b2b-content-action .b2b-select {
  background: #f9f9f9;
  border-radius: 4px;
  padding: 8px 10px;
  color: #6a707e;
  font-size: 12px;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic .b2b-content-action .b2b-select select {
  border: none;
  background: none;
  appearance: none;
  width: 50px;
  color: #ff6600;
  background: url(assets/images/svg/b2b-custom-input-bg.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  outline: none;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic .b2b-content-action input[type=search] {
  border-radius: 4px;
  padding: 4px 10px;
  background: url(assets/images/svg/b2b-custom-search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  outline: none;
  border: none;
  background-color: #f9f9f9;
  border: 1px solid #d3d8dd;
  box-sizing: border-box;
}
.b2b-dashboard .b2b-salary-graph .b2b-dashboard-topic .b2b-content-action input[type=search]::placeholder {
  color: #90a0b7;
  font-size: 12px;
  padding-left: 30px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
.b2b-dashboard .b2b-salary-graph h5 {
  width: max-content;
  margin: auto;
}
.b2b-dashboard .b2b-employee-table {
  width: 100%;
  overflow-x: auto;
}
.b2b-dashboard .b2b-employee-table table {
  width: 100%;
}
.b2b-dashboard .b2b-employee-table table td * {
  margin: 0;
  padding: 0;
}
.b2b-dashboard .b2b-employee-table table th {
  background: #e5e5e5;
}
.b2b-dashboard .b2b-employee-table table td,
.b2b-dashboard .b2b-employee-table table th {
  padding: 10px;
  white-space: nowrap;
}
.b2b-dashboard .b2b-employee-table table td {
  padding: 15px 10px;
}
.b2b-dashboard .b2b-employee-table table .user {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.b2b-dashboard .b2b-employee-table table .user img {
  border-radius: 50%;
}
.b2b-dashboard .b2b-employee-table table .transaction {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-employee-table table .id {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-employee-table table .designation {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-employee-table table .join-date {
  font-size: 13px;
  color: #4c5862;
}
.b2b-dashboard .b2b-employee-table table .salary {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-employee-table table .department {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-employee-table table .tin {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .b2b-employee-table table .contact {
  font-size: 13px;
  color: #4c5862;
  opacity: 0.5;
}
.b2b-dashboard .company .company-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  padding: 15px;
}
.b2b-dashboard .company .company-header p {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #334d6e;
}
.b2b-dashboard .company .company-header button {
  background: none;
  border: none;
  color: #ff6600;
  font-weight: bold;
}
.b2b-dashboard .company .details {
  padding: 10px 15px;
}
.b2b-dashboard .company .details p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #7e94af;
  margin-bottom: 5px;
}
.b2b-dashboard .company .details h5 {
  margin: 0;
  font-size: 18px;
  color: #334d6e;
  margin-bottom: 5px;
  word-break: break-all;
}
.b2b-dashboard .company .social-media {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.b2b-dashboard .company .company-info {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.b2b-dashboard .company .contact-info {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.b2b-dashboard .company .contact-map iframe {
  width: 100%;
  border-radius: 10px;
  min-height: 50vh;
}

.doc-header {
  display: block;
  width: max-content;
  margin-left: 10px !important;
  border-bottom: 1px solid #ff6600;
}

.contact-add .add-employee {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.contact-add .add-employee .content-head {
  border-bottom: 1px solid #dfdfdf;
}
.contact-add .add-employee .content-head p {
  font-weight: 600;
  font-size: 18px;
  color: #334d6e;
  margin: 0;
  padding: 15px 10px;
}
.contact-add .add-employee .content-details {
  padding: 15px 10px;
}
.contact-add .add-employee .content-details .input-area label {
  font-size: 14px;
}
.contact-add .add-employee .content-details .input-area input {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 6px;
  height: 48px;
}
.contact-add .add-employee .content-details .input-area select {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 6px;
  height: 48px;
}
.contact-add .add-employee .content-details .input-area-radio {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}
.contact-add .add-employee .content-details .input-area-radio input {
  display: inline;
  width: 15px !important;
  height: 15px !important;
}
.contact-add .add-employee .content-details .input-area-radio label {
  display: inline;
  margin: 0;
  font-size: 14px;
}
.contact-add .add-employee .content-details .b2b-save {
  width: max-content;
  display: block;
  margin: 10px auto;
  background: none;
  border: 1px solid #ff6600;
  color: #ff6600;
  padding: 5px 25px;
  outline: none;
  margin-top: 18px;
}
.contact-add .add-employee .content-details .gross-salary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.contact-add .add-employee .content-details .gross-salary p {
  font-size: 16px;
  color: #334d6e;
  margin: 0;
}
.contact-add .add-employee .content-details .gross-salary h3 {
  font-weight: 600;
  font-size: 18px;
  color: #ff6600;
  margin: 0;
}
.contact-add .add-employee .content-details .photo {
  width: 49%;
  display: inline-block;
  margin-bottom: 15px;
}
.contact-add .add-employee .content-details .photo img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.contact-add .add-employee .content-details .chairman-employee,
.contact-add .add-employee .content-details .birth-employee {
  display: none;
}
.contact-add .add-employee .b2b-money-system .bank-method {
  display: none;
}
.contact-add .add-employee .b2b-payment-user p {
  font-size: 16px;
  color: #334d6e;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-add .add-employee .gross-salary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.contact-add .add-employee .gross-salary p {
  font-size: 16px;
  color: #334d6e;
  margin: 0;
}
.contact-add .add-employee .gross-salary h3 {
  font-weight: 600;
  font-size: 18px;
  color: #ff6600;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
